<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=LT-PSO-T-DK;Initial Catalog=cf.reference.storefront821.com_core;Integrated Security=False;User ID=sa;Password=Passw0rd1" />
  <add name="master" connectionString="Data Source=LT-PSO-T-DK;Initial Catalog=cf.reference.storefront821.com_master;Integrated Security=False;User ID=sa;Password=Passw0rd1" />
  <add name="web" connectionString="Data Source=LT-PSO-T-DK;Initial Catalog=cf.reference.storefront821.com_web;Integrated Security=False;User ID=sa;Password=Passw0rd1" />
  <add name="analytics" connectionString="mongodb://localhost:27017/cf_reference_storefront821_com_analytics" />
  <add name="tracking.live" connectionString="mongodb://localhost:27017/cf_reference_storefront821_com_tracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost:27017/cf_reference_storefront821_com_tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://localhost:27017/cf_reference_storefront821_com_tracking_contact" />
  <add name="reporting" connectionString="Data Source=LT-PSO-T-DK;Initial Catalog=cf.reference.storefront821.com_reporting;Integrated Security=False;User ID=sa;Password=Passw0rd1" />
 <!--  <add name="reporting.apikey" connectionString="Data Source=LT-PSO-T-DK;Initial Catalog=cf.reference.storefront821.com_reporting.apikey;Integrated Security=False;User ID=sa;Password=Passw0rd1" />-->
</connectionStrings>