<?xml version="1.0" encoding="utf-8" ?>
<cachingConfiguration defaultCacheManager="FriendlyUrlsCache">
  <cacheManagers>
    <add name="Sitecore_FriendlyUrlsCache"
         type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
         expirationPollFrequencyInSeconds="60"
         maximumElementsInCacheBeforeScavenging="1000"
         numberToRemoveWhenScavenging="100"
         backingStoreName="NullBackingStore"/>
    <add name="Sitecore_CommerceAssociationsCache"
         type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
         expirationPollFrequencyInSeconds="60"
         maximumElementsInCacheBeforeScavenging="1000"
         numberToRemoveWhenScavenging="100"
         backingStoreName="NullBackingStore"/>
    <add name="Sitecore_CommerceCartCache"
         type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
         expirationPollFrequencyInSeconds="60"
         maximumElementsInCacheBeforeScavenging="1000"
         numberToRemoveWhenScavenging="100"
         backingStoreName="NullBackingStore"/>
  </cacheManagers>
  <backingStores>
    <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="NullBackingStore"/>
  </backingStores>
</cachingConfiguration>
