<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <events>
      <event name="indexing:end">
        <handler type="Sitecore.Commerce.Connect.CommerceServer.Search.CommerceIndexAssociationsEvent, Sitecore.Commerce.Connect.CommerceServer" method="ClearAssociations" />
      </event>
    </events>

    <pipelines>
      
      <indexing.getChildrenToIndex>
        <!-- 
          Insert our processor first so that we can intercept Commmerce items that we do not want indexed into the below referenced indexes.
          As Commerce uses a sepearte crawler to index Commerce items, we insert this processor to stop the default crawlers from attemping to index
          Commerce items.
          By default the processor below will skip indexing of children of the following locations or templates:
            Catalog Item              ID {08BFB57F-DAC9-4B11-90C5-5D19647899EF} /sitecore/Commerce/Catalog Management/Catalogs
            Catalog Sets Item         ID {989DE08E-8360-44B0-B439-F37A9DCECADA} /sitecore/Commerce/Catalog Management/Catalog Groups
            Commerce Navigation Item  ID {E55834FB-7C93-44A2-87C0-62BEBA282CED}
        -->
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Search.GetChildrenToIndex, Sitecore.Commerce.Connect.CommerceServer" patch:before="*[1]">
          <!-- The list of indexes that we do not want commerce items to be indexed to -->
          <Indexes hint="list:AddString" help="Add index names below to stop crawling of Commerce items by the default crawler">
            <IndexName>sitecore_master_index</IndexName>
            <IndexName>sitecore_web_index</IndexName>
          </Indexes>
        </processor>
      </indexing.getChildrenToIndex>
    </pipelines>

    <contentSearch>
      <indexConfigurations>
        <indexUpdateStrategies>
          <selectedCatalogsIntervalAsyncMaster type="Sitecore.Commerce.Connect.CommerceServer.Search.SelectedCatalogsIntervalAsynchronousStrategy, Sitecore.Commerce.Connect.CommerceServer">
            <param desc="database">master</param>
            <param desc="rootPath">/sitecore/Commerce/Catalog Management/Catalogs</param>
            <param desc="interval">00:01:00</param>
          </selectedCatalogsIntervalAsyncMaster>
          <selectedCatalogsIntervalAsyncWeb type="Sitecore.Commerce.Connect.CommerceServer.Search.SelectedCatalogsIntervalAsynchronousStrategy, Sitecore.Commerce.Connect.CommerceServer">
            <param desc="database">web</param>
            <param desc="rootPath">/sitecore/Commerce/Catalog Management/Catalogs</param>
            <param desc="interval">00:01:00</param>
          </selectedCatalogsIntervalAsyncWeb>
          <allCatalogsIntervalAsyncMaster type="Sitecore.Commerce.Connect.CommerceServer.Search.AllCatalogsIntervalAsynchronousStrategy, Sitecore.Commerce.Connect.CommerceServer">
            <param desc="database">master</param>
            <param desc="interval">00:00:15</param>
          </allCatalogsIntervalAsyncMaster>
          <allCatalogsIntervalAsyncWeb type="Sitecore.Commerce.Connect.CommerceServer.Search.AllCatalogsIntervalAsynchronousStrategy, Sitecore.Commerce.Connect.CommerceServer">
            <param desc="database">web</param>
            <param desc="interval">00:05:00</param>
          </allCatalogsIntervalAsyncWeb>
        </indexUpdateStrategies>
      </indexConfigurations>
    </contentSearch>

  </sitecore>
</configuration>
