<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
          <fieldMap type="Sitecore.ContentSearch.FieldMap, Sitecore.ContentSearch">
            <fieldNames hint="raw:AddFieldByFieldName">
              <!-- Commerce Server custom fields -->
              <field fieldName="catalogitemid"  storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <Analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="productid" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <Analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="onsale" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.Boolean" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <Analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="brand" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <Analyzer type="Lucene.Net.Analysis.KeywordAnalyzer, Lucene.Net" />
              </field>
              <field fieldName="definitionname" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <Analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="catalogname" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <Analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="currency" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <Analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="defaultlanguage" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <Analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="listprice" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.Double" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <Analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="rating" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <Analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="commercesearchitemtype"  storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <Analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="commerceancestorids"  storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.Collections.Generic.List`1[[Sitecore.Data.ID, Sitecore.Kernel]]" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <Analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="crosssell"  storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.Collections.Generic.List`1[[Sitecore.Data.ID, Sitecore.Kernel]]" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <Analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="upsell"  storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.Collections.Generic.List`1[[Sitecore.Data.ID, Sitecore.Kernel]]" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <Analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="commerceancestornames"  storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.Collections.Generic.List`1[[System.String, mscorlib]]" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <Analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="startdate" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.DateTime" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider"/>
              <field fieldName="enddate" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.DateTime" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider"/>

              <!-- Replace Sitecore.Commerce fields that require customization to integrate with Commerce Server -->
              <field fieldName="instocklocations" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.Collections.Generic.List`1[[System.String, mscorlib]]" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <Analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="outofstocklocations" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.Collections.Generic.List`1[[System.String, mscorlib]]" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <Analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="orderablelocations" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.Collections.Generic.List`1[[System.String, mscorlib]]" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <Analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="preorderable" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String, mscorlib" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <Analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
            </fieldNames>

            <fieldTypes hint="raw:AddFieldByFieldTypeName">
              <fieldType fieldTypeName="catalog selection control" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" boost="1f" vectorType="NO" indexType="TOKENIZED" storageType="NO" />
              <fieldType fieldTypeName="child categories list control" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" boost="1f" vectorType="NO" indexType="TOKENIZED" storageType="NO" />
              <fieldType fieldTypeName="child products list control" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" boost="1f" vectorType="NO" indexType="TOKENIZED" storageType="NO" />
              <fieldType fieldTypeName="commerce catalog enumeration control" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" boost="1f" vectorType="NO" indexType="TOKENIZED" storageType="NO" />
              <fieldType fieldTypeName="commerce decimal control" type="System.Double" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" boost="1f" vectorType="NO" indexType="TOKENIZED" storageType="NO" />
              <fieldType fieldTypeName="commerce double control" type="System.Double" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" boost="1f" vectorType="NO" indexType="TOKENIZED" storageType="NO" />
              <fieldType fieldTypeName="commerce int32 control" type="System.Int32" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" boost="1f" vectorType="NO" indexType="TOKENIZED" storageType="NO" />
              <fieldType fieldTypeName="commerce int64 control" type="System.Int64" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" boost="1f" vectorType="NO" indexType="TOKENIZED" storageType="NO" />
              <fieldType fieldTypeName="commerce read-only control" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" boost="1f" vectorType="NO" indexType="TOKENIZED" storageType="NO" />
              <fieldType fieldTypeName="commerce single control" type="System.Single" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" boost="1f" vectorType="NO" indexType="TOKENIZED" storageType="NO" />
              <fieldType fieldTypeName="parent categories list control" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" boost="1f" vectorType="NO" indexType="TOKENIZED" storageType="NO" />
              <fieldType fieldTypeName="primary parent category control" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" boost="1f" vectorType="NO" indexType="TOKENIZED" storageType="NO" />
              <fieldType fieldTypeName="relationship list control" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" boost="1f" vectorType="NO" indexType="TOKENIZED" storageType="NO" />
              <fieldType fieldTypeName="variant list control" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" boost="1f" vectorType="NO" indexType="TOKENIZED" storageType="NO" />
            </fieldTypes>
          </fieldMap>

          <documentOptions type="Sitecore.ContentSearch.LuceneProvider.LuceneDocumentBuilderOptions, Sitecore.ContentSearch.LuceneProvider">
            <fields hint="raw:AddComputedIndexField">
              <!-- Remove Sitecore.Commerce fields not exposed by Commerce Server products default schema -->
              <field fieldName="categoryname">
                <patch:delete />
              </field>
              <field fieldName="manufacturername">
                <patch:delete />
              </field>
              <field fieldName="producttypename">
                <patch:delete />
              </field>

              <!-- Replace Sitecore.Commerce fields that require customization to integrate with Commerce Server -->
              <field fieldName="instocklocations">
                <patch:delete />
              </field>
              <field fieldName="outofstocklocations">
                <patch:delete />
              </field>
              <field fieldName="orderablelocations">
                <patch:delete />
              </field>
              <field fieldName="preorderable">
                <patch:delete />
              </field>
              <field fieldName="catalogitemid" returnType="string">Sitecore.Commerce.Connect.CommerceServer.Search.ComputedFields.CatalogItemId, Sitecore.Commerce.Connect.CommerceServer</field>
              <field fieldName="instocklocations" returnType="stringCollection">Sitecore.Commerce.Connect.CommerceServer.Search.ComputedFields.InStockLocations, Sitecore.Commerce.Connect.CommerceServer</field>
              <field fieldName="outofstocklocations" returnType="stringCollection">Sitecore.Commerce.Connect.CommerceServer.Search.ComputedFields.OutOfStockLocations, Sitecore.Commerce.Connect.CommerceServer</field>
              <field fieldName="orderablelocations" returnType="stringCollection">Sitecore.Commerce.Connect.CommerceServer.Search.ComputedFields.OrderableLocations, Sitecore.Commerce.Connect.CommerceServer</field>
              <field fieldName="preorderable" returnType="string">Sitecore.Commerce.Connect.CommerceServer.Search.ComputedFields.PreOrderable, Sitecore.Commerce.Connect.CommerceServer</field>
              <field fieldName="commercesearchitemtype" returnType="string">Sitecore.Commerce.Connect.CommerceServer.Search.ComputedFields.CommerceSearchItemType, Sitecore.Commerce.Connect.CommerceServer</field>
              <field fieldName="commerceancestornames" returnType="stringCollection">Sitecore.Commerce.Connect.CommerceServer.Search.ComputedFields.CommerceAncestorNames, Sitecore.Commerce.Connect.CommerceServer</field>
              <field fieldName="commerceancestorids" returnType="idCollection">Sitecore.Commerce.Connect.CommerceServer.Search.ComputedFields.CommerceAncestorIds, Sitecore.Commerce.Connect.CommerceServer</field>
              <field fieldName="crosssell" returnType="idCollection">Sitecore.Commerce.Connect.CommerceServer.Search.ComputedFields.CommerceRelationships, Sitecore.Commerce.Connect.CommerceServer</field>
              <field fieldName="upsell" returnType="idCollection">Sitecore.Commerce.Connect.CommerceServer.Search.ComputedFields.CommerceRelationships, Sitecore.Commerce.Connect.CommerceServer</field>
              <field fieldName="_content" type="Sitecore.Commerce.Connect.CommerceServer.Search.ComputedFields.ContentGathererField, Sitecore.Commerce.Connect.CommerceServer"/>
            </fields>
          </documentOptions>
        </defaultLuceneIndexConfiguration>

        <commerceLuceneProfileUserObjectIndexConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
          <initializeOnAdd>true</initializeOnAdd>
          <analyzer ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/analyzer" />
          <fieldMap type="Sitecore.Commerce.Connect.CommerceServer.Search.ProfileLuceneFieldMap, Sitecore.Commerce.Connect.CommerceServer">
            <param desc="profileType">UserObject</param>
            <param desc="additionalFields">_content</param>
          </fieldMap>

          <documentOptions type="Sitecore.ContentSearch.LuceneProvider.LuceneDocumentBuilderOptions, Sitecore.ContentSearch.LuceneProvider">
            <!-- This flag will index all fields by default. This allows new fields in your templates to automatically be included into the index.
               You have two choices : 
               
               1) Set this to 'true' and place all the fields that you would like to remove in the 'ExcludeField' list.
               2) Set to false and place all fields you would like to be indexed in the 'IncludeField' list below.
            
-->
            <indexAllFields>true</indexAllFields>
          </documentOptions>
          <fieldReaders ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/fieldReaders"/>
          <indexFieldStorageValueFormatter ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/indexFieldStorageValueFormatter"/>
          <indexDocumentPropertyMapper ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/indexDocumentPropertyMapper"/>
          <documentBuilderType ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/documentBuilderType"/>
          <defaultSearchSecurityOption ref="contentSearch/indexConfigurations/defaultSearchSecurityOption"/>
        </commerceLuceneProfileUserObjectIndexConfiguration>

      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>
