<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <events>
      <event name="user:deleted">
        <handler type="Sitecore.Commerce.Connect.CommerceServer.Profiles.Events.CommerceUserEventHandler, Sitecore.Commerce.Connect.CommerceServer" method="OnUserDeleted" />
      </event>
      <event name="user:updated">
        <handler type="Sitecore.Commerce.Connect.CommerceServer.Profiles.Events.CommerceUserEventHandler, Sitecore.Commerce.Connect.CommerceServer" method="OnUserUpdated" />
      </event>
      <event name="profilecacherefresh:remote">
        <handler type="Sitecore.Commerce.Connect.CommerceServer.Profiles.Events.CommerceProfileCacheRefreshEventHandler, Sitecore.Commerce.Connect.CommerceServer" method="OnProfileCacheRefresh" />
      </event>
    </events>

    <hooks>
      <hook type="Sitecore.Commerce.Connect.CommerceServer.Profiles.Events.CommerceProfileCacheRefreshHook, Sitecore.Commerce.Connect.CommerceServer"/>
    </hooks>

    <commands>
      <command name="commerce:refreshprofilecache" type="Sitecore.Commerce.Connect.CommerceServer.Profiles.RefreshProfileCache,Sitecore.Commerce.Connect.CommerceServer"/>
      <command name="commerce:importprofiles" type="Sitecore.Commerce.Connect.CommerceServer.Profiles.ImportProfiles,Sitecore.Commerce.Connect.CommerceServer"/>
    </commands>

    <!-- Required for profile provider when used in combination with Facebook login via Social Connected - http://sdn.sitecore.net/products/social connected module/social connected 1,-d-,3.aspx -->
    <switchingProviders>
      <profile>
        <provider patch:before="*[@providerName='sql']" providerName="cs" storeFullNames="true" wildcard="%" domains="CommerceUsers"/>
      </profile>
    </switchingProviders>

    <pipelines>

      <GetProfile>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Profiles.Pipelines.GetProfileProcessor, Sitecore.Commerce.Connect.CommerceServer" />
      </GetProfile>

      <GetProfiles>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Profiles.Pipelines.GetProfilesProcessor, Sitecore.Commerce.Connect.CommerceServer" />
      </GetProfiles>

      <DeleteProfile>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Profiles.Pipelines.DeleteProfileProcessor, Sitecore.Commerce.Connect.CommerceServer" />
      </DeleteProfile>      

      <CreateProfile>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Profiles.Pipelines.CreateProfileProcessor, Sitecore.Commerce.Connect.CommerceServer" />
      </CreateProfile>

      <ProfileToCommerceModel>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Profiles.Pipelines.ProfileToCommerceModel, Sitecore.Commerce.Connect.CommerceServer" />
      </ProfileToCommerceModel>

      <GetProfileDefinitions>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Profiles.Pipelines.GetProfileDefinitionsProcessor, Sitecore.Commerce.Connect.CommerceServer" />
      </GetProfileDefinitions>

      <GetProfileDefinition>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Profiles.Pipelines.GetProfileDefinitionProcessor, Sitecore.Commerce.Connect.CommerceServer" />
      </GetProfileDefinition>

      <DeleteInactiveUserProfiles>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Profiles.Pipelines.DeleteInactiveUserProfilesProcessor, Sitecore.Commerce.Connect.CommerceServer" />
      </DeleteInactiveUserProfiles>

      <GetUserProfiles>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Profiles.Pipelines.GetUserProfilesProcessor, Sitecore.Commerce.Connect.CommerceServer" />
      </GetUserProfiles>
    
      <GetProfilesFromField>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Profiles.Pipelines.GetProfilesFromFieldProcessor, Sitecore.Commerce.Connect.CommerceServer" />
      </GetProfilesFromField>

      <commerce.customers.createUser>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Profiles.Pipelines.PopulateContactBasicFacetsProcessor, Sitecore.Commerce.Connect.CommerceServer"
                   patch:after="processor[@type='Sitecore.Commerce.Pipelines.Customers.CreateContact.CreateContactInXDb, Sitecore.Commerce']">
          <param ref="sitecoreUserRepository"/>
          <param ref="entityFactory"/>
        </processor>
      </commerce.customers.createUser>
    </pipelines>

    <commerceServer configurationProvider="Sitecore.Commerce.Connect.CommerceServer.Configuration.DefaultConfigurationProvider, Sitecore.Commerce.Connect.CommerceServer" defaultLanguage="en" defaultCurrency="USD">
      <types>
        <type name="IProfileImport" type="Sitecore.Commerce.Connect.CommerceServer.Profiles.Utilities.ProfileImportViaMembership, Sitecore.Commerce.Connect.CommerceServer" lifetime="Singleton" />
        <type name="IProfileImportPasswordGeneration" type="Sitecore.Commerce.Connect.CommerceServer.Profiles.Utilities.ProfileImportPasswordGeneration, Sitecore.Commerce.Connect.CommerceServer" lifetime="Singleton" />
      </types>
      <ProfileImport>
        <setting name="FieldForUserNameGeneration" value="GeneralInfo.email_address" />
        <setting name="EmailAddressFieldName" value="GeneralInfo.email_address" />
        <setting name="ProfileUniqueQueryKey" value="GeneralInfo.user_id" />
        <setting name="ErrorThreshold" value="10" />
        <setting name="Domain" value="CommerceUsers" />
        <setting name="OutFile" value="" />
        <setting name="MaxDegreeOfParallelism" value="4" />
      </ProfileImport>
      <profiles>
        <SitecoreLinkProperty name="GeneralInfo.ExternalID" />
      </profiles>
    </commerceServer>

  </sitecore>

  
</configuration>
