<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      
      <commerce.customers.getCustomer>
        <processor type="Sitecore.Commerce.Pipelines.Customers.GetCustomer.GetCustomerFromSitecore, Sitecore.Commerce">
          <patch:attribute name="type">Sitecore.Commerce.Connect.CommerceServer.Pipelines.Processors.Customers.GetCustomer, Sitecore.Commerce.Connect.CommerceServer</patch:attribute>
        </processor>
      </commerce.customers.getCustomer>

      <commerce.customers.deleteCustomer>
        <processor type="Sitecore.Commerce.Pipelines.Customers.DeleteCustomer.DeleteCustomerFromExternalSystem, Sitecore.Commerce">
          <patch:attribute name="type">Sitecore.Commerce.Connect.CommerceServer.Pipelines.Processors.Customers.DeleteCustomer, Sitecore.Commerce.Connect.CommerceServer</patch:attribute>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.DeleteCustomer.DeleteCustomerFromEaState, Sitecore.Commerce">
          <patch:delete/>
        </processor>
      </commerce.customers.deleteCustomer>

      <commerce.customers.createUser>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Pipelines.Processors.Customers.AddToCommerceUserIndex, Sitecore.Commerce.Connect.CommerceServer">
          <IndexName>commerce_userprofiles_index_master</IndexName>
          <ProfileType>UserObject</ProfileType>
        </processor>
      </commerce.customers.createUser>

      <commerce.customers.updateUser>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Pipelines.Processors.Customers.UpdateCommerceUserIndex, Sitecore.Commerce.Connect.CommerceServer">
          <IndexName>commerce_userprofiles_index_master</IndexName>
          <ProfileType>UserObject</ProfileType>
        </processor>
      </commerce.customers.updateUser>

      <commerce.customers.deleteUser>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Pipelines.Processors.Customers.RemoveFromCommerceUserIndex, Sitecore.Commerce.Connect.CommerceServer">
          <IndexName>commerce_userprofiles_index_master</IndexName>
          <ProfileType>UserObject</ProfileType>
        </processor>
      </commerce.customers.deleteUser>
    </pipelines>
  </sitecore>
</configuration>