<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="commerce_products_web_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="name">$(id)</param>
            <param desc="core">itembuckets_commerce_products_web_index</param>
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration" />
            <strategies hint="list:AddStrategy">
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync"/>
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/allCatalogsIntervalAsyncWeb"/>
            </strategies>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.Commerce.Connect.CommerceServer.Search.AllCatalogsCrawler, Sitecore.Commerce.Connect.CommerceServer">
                <Database>web</Database>
                <Root>/sitecore/Commerce/Catalog Management/Catalogs</Root>
              </crawler>
            </locations>
          </index>
          <index id="sitecore_web_index">
            <strategies hint="list:AddStrategy">
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/selectedCatalogsIntervalAsyncWeb"/>
            </strategies>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
              </crawler>
              <crawler type="Sitecore.Commerce.Connect.CommerceServer.Search.SelectedCatalogsCrawler, Sitecore.Commerce.Connect.CommerceServer">
                <Database>web</Database>
                <Root>/sitecore/Commerce/Catalog Management/Catalogs</Root>
              </crawler>
            </locations>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>