<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <commerce.Entities>
      <Cart>
        <patch:attribute name="type">Sitecore.Commerce.Connect.CommerceServer.Orders.Models.CommerceCart, Sitecore.Commerce.Connect.CommerceServer</patch:attribute>
      </Cart>
      <CartAdjustment>
        <patch:attribute name="type">Sitecore.Commerce.Connect.CommerceServer.Orders.Models.CommerceCartAdjustment, Sitecore.Commerce.Connect.CommerceServer</patch:attribute>
      </CartAdjustment>
      <CartLine>
        <patch:attribute name="type">Sitecore.Commerce.Connect.CommerceServer.Orders.Models.CommerceCartLine, Sitecore.Commerce.Connect.CommerceServer</patch:attribute>
      </CartLine>
      <CartProduct>
        <patch:attribute name="type">Sitecore.Commerce.Connect.CommerceServer.Orders.Models.CommerceCartProduct, Sitecore.Commerce.Connect.CommerceServer</patch:attribute>
      </CartProduct>
      <CommerceOrderForm type="Sitecore.Commerce.Connect.CommerceServer.Orders.Models.CommerceOrderForm, Sitecore.Commerce.Connect.CommerceServer" />
      <CommercePromoCodeRecord type="Sitecore.Commerce.Connect.CommerceServer.Orders.Models.CommercePromoCodeRecord, Sitecore.Commerce.Connect.CommerceServer" />
      <Total>
        <patch:attribute name="type">Sitecore.Commerce.Connect.CommerceServer.Orders.Models.CommerceTotal, Sitecore.Commerce.Connect.CommerceServer</patch:attribute>
      </Total>
      <Price>
        <patch:attribute name="type">Sitecore.Commerce.Connect.CommerceServer.Orders.Models.CommercePrice, Sitecore.Commerce.Connect.CommerceServer</patch:attribute>
      </Price>
      <CreditCardPayment type="Sitecore.Commerce.Connect.CommerceServer.Orders.Models.CommerceCreditCardPaymentInfo, Sitecore.Commerce.Connect.CommerceServer" />
    </commerce.Entities>

    <pipelines>

      <translate.orderGroupToEntity>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.TranslateOrderGroupToEntity, Sitecore.Commerce.Connect.CommerceServer">
          <param ref="entityFactory" />
        </processor>
      </translate.orderGroupToEntity>

      <translate.entityToOrderAddress>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.TranslateEntityToOrderAddress, Sitecore.Commerce.Connect.CommerceServer">
          <param ref="entityFactory" />
        </processor>
      </translate.entityToOrderAddress>

      <translate.orderAddressToEntity>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.TranslateOrderAddressToEntity, Sitecore.Commerce.Connect.CommerceServer"/>
      </translate.orderAddressToEntity>
      
      <translate.shipmentToEntity>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.TranslateShipmentToEntity, Sitecore.Commerce.Connect.CommerceServer"/>
      </translate.shipmentToEntity>

      <translate.paymentToEntity>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.TranslatePaymentToEntity, Sitecore.Commerce.Connect.CommerceServer">
          <param ref="entityFactory" />
        </processor>
      </translate.paymentToEntity>

      <translate.entityToCreditCard>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.TranslateEntityToCreditCard, Sitecore.Commerce.Connect.CommerceServer"/>
      </translate.entityToCreditCard>

      <commerce.carts.getCarts>
        <!--
          Gets all carts from Commerce Server e-commerce system side.
        -->
        <processor type="Sitecore.Commerce.Pipelines.Carts.GetCarts.BuildQuery, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.GetCarts.ExecuteQuery, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.GetCarts, Sitecore.Commerce.Connect.CommerceServer" />
      </commerce.carts.getCarts>

      <!--
        NOTE: This CreateOrResumeCart Sitecore.Commerce pipeline has been removed as in CS, detecting newly created carts is not possible.
      -->
      <commerce.carts.createOrResumeCart>
          <patch:delete/>
      </commerce.carts.createOrResumeCart>

      <!--
        NOTE: This CreateOrResumeCart Sitecore.Commerce pipeline has been removed as in CS, detecting newly created carts is not possible.
      -->
      <commerce.carts.createCart>
        <patch:delete/>
      </commerce.carts.createCart>

      <commerce.carts.resumeCart>
        <patch:delete/>
      </commerce.carts.resumeCart>

      <commerce.carts.loadCart>
        <!--  Setup the commerce server context  -->
        <!--  Loads cart from Commerce Server  -->
        <processor patch:before="processor[@type='Sitecore.Commerce.Pipelines.Carts.LoadCart.LoadCartFromEaState, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.LoadCart, Sitecore.Commerce.Connect.CommerceServer" />
        <processor patch:after="processor[@type='Sitecore.Commerce.Pipelines.Carts.LoadCart.LoadCartFromEaState, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer">
          <param desc="pipelineName">Basket</param>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.LoadCart.LoadCartFromEaState, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor patch:after="processor[@type='Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunTotalPipeline, Sitecore.Commerce.Connect.CommerceServer" >
          <param desc="pipelineName">Total</param>
        </processor>
      </commerce.carts.loadCart>

      <!--  Saves cart to Commerce Server e-commerce system.  -->
      <commerce.carts.saveCart>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.SaveCartToEaState, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.SaveCart, Sitecore.Commerce.Connect.CommerceServer" />
      </commerce.carts.saveCart>

      <commerce.carts.addCartLines>
        <!--  Setup the commerce server context  -->
        <processor patch:after="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer" />
        <processor type="Sitecore.Commerce.Pipelines.Carts.AddCartLines.AddLinesToCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <!--
          Adds cart lines to cart on Commerce Server e-commerce system side.
        -->
        <processor patch:before="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.AddLinesToCart, Sitecore.Commerce.Connect.CommerceServer" >
          <param desc="Rollup">True</param>
          <param ref="eaPlanProvider"/>
          <param ref="eaStateCartRepository"/>
        </processor>
        <processor patch:before="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer" >
          <param desc="pipelineName">Basket</param>
        </processor>
        <processor patch:after="processor[@type='Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunTotalPipeline, Sitecore.Commerce.Connect.CommerceServer" >
          <param desc="pipelineName">Total</param>
        </processor>
        <processor patch:after="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.UpdateCartLinePrice, Sitecore.Commerce.Connect.CommerceServer" />
      </commerce.carts.addCartLines>

      <commerce.carts.removeCartLines>
        <processor patch:after="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer" />
        <processor type="Sitecore.Commerce.Pipelines.Carts.RemoveCartLines.RemoveLinesFromCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <!--
          Removes cart lines from cart on Commerce Server e-commerce system side.
        -->
        <processor patch:before="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RemoveLinesFromCart, Sitecore.Commerce.Connect.CommerceServer" />
        <processor patch:before="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer" >
          <param desc="pipelineName">Basket</param>
        </processor>
      </commerce.carts.removeCartLines>

      <commerce.carts.updateCartLines>
        <processor patch:after="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce']"  type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer" />
        <processor type="Sitecore.Commerce.Pipelines.Carts.UpdateCartLines.UpdateLinesOnCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <!--
          Updates cart lines quantity in cart on Commerce Server e-commerce system side.
        -->
        <processor patch:before="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.UpdateLinesOnCart, Sitecore.Commerce.Connect.CommerceServer">
          <param desc="Rollup">True</param>
        </processor>
        <processor patch:after="processor[@type='Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunTotalPipeline, Sitecore.Commerce.Connect.CommerceServer" >
          <param desc="pipelineName">Total</param>
        </processor>
        <processor patch:before="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer" >
          <param desc="pipelineName">Basket</param>
        </processor>
      </commerce.carts.updateCartLines>

      <commerce.carts.deleteCart>
        <processor patch:after="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer" />
        <!--  Deletes cart from Commerce Server e-commerce system.  -->
        <processor patch:after="processor[@type='Sitecore.Commerce.Pipelines.Carts.DeleteCart.DeleteCartFromEaState, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.DeleteCart, Sitecore.Commerce.Connect.CommerceServer" />
        <processor type="Sitecore.Commerce.Pipelines.Carts.DeleteCart.DeleteCartFromEaState, Sitecore.Commerce">
          <patch:delete/>
        </processor>
      </commerce.carts.deleteCart>

      <commerce.carts.updateCart>
        <processor patch:after="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer" />
        <processor type="Sitecore.Commerce.Pipelines.Carts.UpdateCart.UpdateCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor patch:before="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.UpdateCart, Sitecore.Commerce.Connect.CommerceServer" />
      </commerce.carts.updateCart>

      <commerce.carts.lockCart>
        <processor patch:before="processor[@type='Sitecore.Commerce.Pipelines.Carts.LockCart.LockCart, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer" />
        <processor type="Sitecore.Commerce.Pipelines.Carts.LockCart.LockCart, Sitecore.Commerce"/>
        <processor patch:before="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.LockCart, Sitecore.Commerce.Connect.CommerceServer" />
      </commerce.carts.lockCart>

      <commerce.carts.unlockCart>
        <processor patch:before="processor[@type='Sitecore.Commerce.Pipelines.Carts.UnlockCart.UnlockCart, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer" />

        <processor type="Sitecore.Commerce.Pipelines.Carts.UnlockCart.UnlockCart, Sitecore.Commerce"/>
        <processor patch:after="processor[@type='Sitecore.Commerce.Pipelines.Carts.UnlockCart.UnlockCart, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.UnlockCart, Sitecore.Commerce.Connect.CommerceServer" />
      </commerce.carts.unlockCart>

      <commerce.carts.mergeCart>
        <processor type="Sitecore.Commerce.Pipelines.Carts.MergeCart.MergeCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor patch:before="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.MergeCart, Sitecore.Commerce.Connect.CommerceServer">
          <param ref="cartServiceProvider"/>
        </processor>
      </commerce.carts.mergeCart>

      <commerce.carts.addParties>
        <processor patch:after="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer" />
        <processor type="Sitecore.Commerce.Pipelines.Carts.AddParties.AddPartiesToCart, Sitecore.Commerce" >
          <patch:delete />
        </processor>
        <processor patch:after="processor[@type='Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.AddPartiesToCart, Sitecore.Commerce.Connect.CommerceServer" >
          <param ref="entityFactory" />
        </processor>
      </commerce.carts.addParties>

      <commerce.carts.removeParties>
        <processor patch:after="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer" />
        <processor type="Sitecore.Commerce.Pipelines.Carts.RemoveParties.RemovePartiesFromCart, Sitecore.Commerce" >
          <patch:delete />
        </processor>
        <processor patch:after="processor[@type='Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RemovePartiesFromCart, Sitecore.Commerce.Connect.CommerceServer" />
      </commerce.carts.removeParties>

      <commerce.carts.updateParties>
        <processor patch:after="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer" />
        <processor type="Sitecore.Commerce.Pipelines.Carts.UpdateParties.UpdatePartiesInCart, Sitecore.Commerce">
          <patch:delete />
        </processor>
        <processor patch:after="processor[@type='Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.UpdatePartiesInCart, Sitecore.Commerce.Connect.CommerceServer" />
      </commerce.carts.updateParties>

      <commerce.carts.addShippingInfo>
        <processor patch:after="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer" />
        <processor patch:after="processor[@type='Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.AddShippingInfoToCart, Sitecore.Commerce.Connect.CommerceServer" />
        <processor patch:after="processor[@type='Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.AddShippingInfoToCart, Sitecore.Commerce.Connect.CommerceServer']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer" >
          <param desc="pipelineName">Basket</param>
        </processor>
        <processor patch:after="processor[@type='Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunTotalPipeline, Sitecore.Commerce.Connect.CommerceServer" >
          <param desc="pipelineName">Total</param>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.AddShippingInfo.AddShippingInfoToCart, Sitecore.Commerce">
          <patch:delete />
        </processor>
      </commerce.carts.addShippingInfo>

      <commerce.carts.removeShippingInfo>
        <processor patch:after="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer" />
        <processor patch:after="processor[@type='Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RemoveShippingInfoFromCart, Sitecore.Commerce.Connect.CommerceServer" />
        <processor patch:after="processor[@type='Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RemoveShippingInfoFromCart, Sitecore.Commerce.Connect.CommerceServer']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer" >
          <param desc="pipelineName">Basket</param>
        </processor>
        <processor patch:after="processor[@type='Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunTotalPipeline, Sitecore.Commerce.Connect.CommerceServer" >
          <param desc="pipelineName">Total</param>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.RemoveShippingInfo.RemoveShippingInfoFromCart, Sitecore.Commerce">
          <patch:delete />
        </processor>
      </commerce.carts.removeShippingInfo>

      <commerce.carts.addPaymentInfo>
        <processor patch:after="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer" />
        <processor patch:after="processor[@type='Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.AddPaymentInfoToCart, Sitecore.Commerce.Connect.CommerceServer" />
        <processor patch:after="processor[@type='Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.AddPaymentInfoToCart, Sitecore.Commerce.Connect.CommerceServer']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer" >
          <param desc="pipelineName">Basket</param>
        </processor>
        <processor patch:after="processor[@type='Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunTotalPipeline, Sitecore.Commerce.Connect.CommerceServer" >
          <param desc="pipelineName">Total</param>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.AddPaymentInfo.AddPaymentInfoToCart, Sitecore.Commerce">
          <patch:delete />
        </processor>
      </commerce.carts.addPaymentInfo>

      <commerce.carts.removePaymentInfo>
        <processor patch:after="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer" />
        <processor patch:after="processor[@type='Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RemovePaymentInfoFromCart, Sitecore.Commerce.Connect.CommerceServer" />
        <processor patch:after="processor[@type='Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RemovePaymentInfoFromCart, Sitecore.Commerce.Connect.CommerceServer']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer" >
          <param desc="pipelineName">Basket</param>
        </processor>
        <processor patch:after="processor[@type='Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunTotalPipeline, Sitecore.Commerce.Connect.CommerceServer" >
          <param desc="pipelineName">Total</param>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.RemovePaymentInfo.RemovePaymentInfoFromCart, Sitecore.Commerce">
          <patch:delete />
        </processor>
      </commerce.carts.removePaymentInfo>

      <commerce.carts.addPromoCode>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce">
          <param ref="entityFactory"/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer" />
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.AddPromoCodeToCart, Sitecore.Commerce.Connect.CommerceServer" />
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer" >
          <param desc="pipelineName">Basket</param>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunTotalPipeline, Sitecore.Commerce.Connect.CommerceServer" >
          <param desc="pipelineName">Total</param>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce" />
      </commerce.carts.addPromoCode>

      <commerce.carts.removePromoCode>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce">
          <param ref="entityFactory"/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer" />
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RemovePromoCodeFromCart, Sitecore.Commerce.Connect.CommerceServer" />
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer" >
          <param desc="pipelineName">Basket</param>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunTotalPipeline, Sitecore.Commerce.Connect.CommerceServer" >
          <param desc="pipelineName">Total</param>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce" />
      </commerce.carts.removePromoCode>

      <commerce.prices.getCartTotal>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer" />
        <!--
          Gets cart total from Commerce Server e-commerce system side.
        -->
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.GetPricesForCart, Sitecore.Commerce.Connect.CommerceServer" />
      </commerce.prices.getCartTotal>

      <commerce.prices.getProductPrices>
        <!--
          Gets product prices from Commerce Server e-commerce system side.
        -->
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Pipelines.GetProductPrices, Sitecore.Commerce.Connect.CommerceServer" />
      </commerce.prices.getProductPrices>

      <commerce.prices.getProductBulkPrices>
        <!--
          Gets prices for several products from Commerce Server e-commerce system side at once.
        -->
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Pipelines.GetProductBulkPrices, Sitecore.Commerce.Connect.CommerceServer" />
      </commerce.prices.getProductBulkPrices>
    </pipelines>
  </sitecore>
</configuration>
