<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <settings>
      <setting name="CommerceServer.Connect.CatalogsManagedByExternalCommerceSystem" value="false"/>
    </settings>

    <commerceServer configurationProvider="Sitecore.Commerce.Connect.CommerceServer.Configuration.DefaultConfigurationProvider, Sitecore.Commerce.Connect.CommerceServer" defaultLanguage="en" defaultCurrency="USD">
      <types>
        <type name="ICommerceConnectorContext" type="Sitecore.Commerce.Connect.CommerceServer.CommerceConnectorContext, Sitecore.Commerce.Connect.CommerceServer" lifetime="Singleton"/>
        <type name="ICommerceServerContextManager" type="Sitecore.Commerce.Connect.CommerceServer.CommerceServerContextManager, Sitecore.Commerce.Connect.CommerceServer" lifetime="Singleton"/>
        <type name="IPipelineInfoContextManager" type="Sitecore.Commerce.Connect.CommerceServer.Orders.PipelineInfoContextManager, Sitecore.Commerce.Connect.CommerceServer" lifetime="Singleton"/>
        <type name="ICatalogRepository" type="Sitecore.Commerce.Connect.CommerceServer.Catalog.CatalogRepository, Sitecore.Commerce.Connect.CommerceServer" lifetime="Singleton"/>
        <type name="IOrderRepository" type="Sitecore.Commerce.Connect.CommerceServer.Orders.OrderRepository, Sitecore.Commerce.Connect.CommerceServer" lifetime="Singleton"/>
        <type name="ICommerceProfileDefinitionRepository" type="Sitecore.Commerce.Connect.CommerceServer.Profiles.CommerceProfileDefinitionRepository, Sitecore.Commerce.Connect.CommerceServer" lifetime="Singleton"/>
        <type name="ICommerceProfileRepository" type="Sitecore.Commerce.Connect.CommerceServer.Profiles.CommerceProfileRepository, Sitecore.Commerce.Connect.CommerceServer" lifetime="Singleton"/>
        <type name="IInventoryRepository" type="Sitecore.Commerce.Connect.CommerceServer.Inventory.InventoryRepository, Sitecore.Commerce.Connect.CommerceServer" lifetime="Singleton"/>
        <type name="IToSitecoreFieldValue" type="Sitecore.Commerce.Connect.CommerceServer.ToSitecoreFieldValue, Sitecore.Commerce.Connect.CommerceServer" lifetime="Singleton"/>
        <type name="IToCommercePropertyValue" type="Sitecore.Commerce.Connect.CommerceServer.Catalog.ToCommercePropertyValue, Sitecore.Commerce.Connect.CommerceServer" lifetime="Singleton"/>
        <type name="ICommerceLog" type="Sitecore.Commerce.Connect.CommerceServer.CommerceLog, Sitecore.Commerce.Connect.CommerceServer" lifetime="Singleton" />
        <type name="ICommerceTrace" type="Sitecore.Commerce.Connect.CommerceServer.CommerceTrace, Sitecore.Commerce.Connect.CommerceServer" lifetime="Singleton" />
        <type name="ICommerceSearchManager" type="Sitecore.Commerce.Connect.CommerceServer.Search.CommerceSearchManager, Sitecore.Commerce.Connect.CommerceServer" lifetime="Singleton" />
        <type name="ICatalogTypeOverride" type="Sitecore.Commerce.Connect.CommerceServer.Catalog.CatalogTypeOverride, Sitecore.Commerce.Connect.CommerceServer" lifetime="Singleton" />
        <type name="IExternalSettingsResolver" type="Sitecore.Commerce.Connect.CommerceServer.Catalog.DefaultExternalSettingsResolver, Sitecore.Commerce.Connect.CommerceServer" lifetime="Singleton" />

        <type name="ISortProvider" type="Sitecore.Commerce.Connect.CommerceServer.Search.ProductSorter, Sitecore.Commerce.Connect.CommerceServer" lifetime="Singleton" />
        <type name="ISortProvider" type="Sitecore.Commerce.Connect.CommerceServer.Search.CategorySorter, Sitecore.Commerce.Connect.CommerceServer" lifetime="Singleton" />
        <type name="ISortProvider" type="Sitecore.Commerce.Connect.CommerceServer.Search.CatalogSorter, Sitecore.Commerce.Connect.CommerceServer" lifetime="Singleton" />
        <type name="ISortProvider" type="Sitecore.Commerce.Connect.CommerceServer.Search.GenericSorter, Sitecore.Commerce.Connect.CommerceServer" lifetime="Singleton" />

        <type name="ICatalogTemplateGenerator" type="Sitecore.Commerce.Connect.CommerceServer.Catalog.CatalogTemplateGenerator, Sitecore.Commerce.Connect.CommerceServer" lifetime="PerCall" />
        <type name="IPropertyTypeMapper" type="Sitecore.Commerce.Connect.CommerceServer.Configuration.PropertyTypeMapper, Sitecore.Commerce.Connect.CommerceServer" lifetime="PerCall" />
        <type name="IIndexResolver" type="Sitecore.Commerce.Connect.CommerceServer.Search.IndexResolver, Sitecore.Commerce.Connect.CommerceServer" lifetime="PerCall" />

        <type name="OrderAddress" type="CommerceServer.Core.Runtime.Orders.OrderAddress, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" lifetime="PerCall"/>
        <type name="CreditCardPayment" type="CommerceServer.Core.Runtime.Orders.CreditCardPayment, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" lifetime="PerCall"/>
      </types>

      <templates>
        <template name="Commerce Catalog Folder" id="{334E2B54-F913-411D-B159-A7B16D65242C}" dataprovider="Sitecore.Commerce.Connect.CommerceServer.Catalog.CatalogDataFolderProvider, Sitecore.Commerce.Connect.CommerceServer"/>
        <template name="Commerce Catalog" id="{93AF861A-B6F4-45BE-887D-D93D4B95B39D}" dataprovider="Sitecore.Commerce.Connect.CommerceServer.Catalog.CatalogProvider, Sitecore.Commerce.Connect.CommerceServer"/>
        <template name="Commerce Virtual Catalog" id="{19988B71-6F3D-43EB-8253-E6D451878922}" dataprovider="Sitecore.Commerce.Connect.CommerceServer.Catalog.CatalogProvider, Sitecore.Commerce.Connect.CommerceServer"/>
        <template name="Commerce Category" id="{4C4FD207-A9F7-443D-B32A-50AA33523661}" dataprovider="Sitecore.Commerce.Connect.CommerceServer.Catalog.CategoryProvider, Sitecore.Commerce.Connect.CommerceServer"/>
        <template name="Commerce Product" id="{225F8638-2611-4841-9B89-19A5440A1DA1}" dataprovider="Sitecore.Commerce.Connect.CommerceServer.Catalog.ProductProvider, Sitecore.Commerce.Connect.CommerceServer" />
        <template name="Commerce Product Variant" id="{C92E6CD7-7F14-46E7-BBF5-29CE31262EF4}" dataprovider="Sitecore.Commerce.Connect.CommerceServer.Catalog.ProductVariantProvider, Sitecore.Commerce.Connect.CommerceServer" />
        <template name="Commerce Navigation Item" id="{E55834FB-7C93-44A2-87C0-62BEBA282CED}" dataprovider="Sitecore.Commerce.Connect.CommerceServer.Catalog.NavigationItemProvider, Sitecore.Commerce.Connect.CommerceServer" />
        <template name="Commerce Catalog Groups Folder" id="{857F5B7E-B382-453C-B6D8-E0C2E65C7160}" dataprovider="Sitecore.Commerce.Connect.CommerceServer.Catalog.CatalogGroupsFolderProvider, Sitecore.Commerce.Connect.CommerceServer"/>
        <template name="Commerce Static Catalog Group" id="{71C6AEE2-092E-47CE-9A6F-1A8B91BE4CA2}" dataprovider="Sitecore.Commerce.Connect.CommerceServer.Catalog.CatalogGroupProvider, Sitecore.Commerce.Connect.CommerceServer"/>
        <template name="Commerce Dynamic Catalog Group" id="{23AA0570-78BB-40BB-8DCF-DEF77500C669}" dataprovider="Sitecore.Commerce.Connect.CommerceServer.Catalog.CatalogGroupProvider, Sitecore.Commerce.Connect.CommerceServer"/>

        <template name="Commerce Product - Item Type" id="Product" dataprovider="Sitecore.Commerce.Connect.CommerceServer.Catalog.ProductProvider, Sitecore.Commerce.Connect.CommerceServer"/>
        <template name="Commerce Product - Item Type" id="ProductFamily" dataprovider="Sitecore.Commerce.Connect.CommerceServer.Catalog.ProductProvider, Sitecore.Commerce.Connect.CommerceServer"/>
        <template name="Commerce Category - Item Type" id="Category" dataprovider="Sitecore.Commerce.Connect.CommerceServer.Catalog.CategoryProvider, Sitecore.Commerce.Connect.CommerceServer"/>
        <template name="Commerce Product Variant - Item Type" id="Variant" dataprovider="Sitecore.Commerce.Connect.CommerceServer.Catalog.ProductVariantProvider, Sitecore.Commerce.Connect.CommerceServer"/>
        <template name="Commerce Catalog - Item Type" id="Catalog" dataprovider="Sitecore.Commerce.Connect.CommerceServer.Catalog.CatalogProvider, Sitecore.Commerce.Connect.CommerceServer"/>
        <template name="Commerce CatalogSet - Item Type" id="CatalogSet" dataprovider="Sitecore.Commerce.Connect.CommerceServer.Catalog.CatalogGroupProvider, Sitecore.Commerce.Connect.CommerceServer" />
      </templates>

      <defaultLanguageCulture>
        <language name="en" culture="en-US"/>
        <language name="da" culture="da-DK"/>
      </defaultLanguageCulture>

      <catalogFieldTypeMapping>
        <field sitecorename="Commerce Read-Only Control" cspropertyname="VariantId"/>
        <field sitecorename="Treelist" cspropertyname="Images" source="/sitecore/media library"/>
        <field sitecorename="Treelist" cspropertyname="Variant_Images" source="/sitecore/media library"/>
        <field sitecorename="Commerce Read-Only Control" cspropertyname="ProductId"/>
        <field sitecorename="Commerce Read-Only Control" cspropertyname="CategoryName"/>
        <field sitecorename="Commerce Read-Only Control" cspropertyname="Status"/>
        <field sitecorename="Commerce Read-Only Control" cspropertyname="InventoryCatalogName"/>
        <field sitecorename="Commerce Read-Only Control" cspropertyname="ProductCatalogName"/>
        <field sitecorename="Commerce Read-Only Control" cspropertyname="SkuId"/>
        <field sitecorename="Commerce Read-Only Control" cspropertyname="SkuVariantId"/>
        <field sitecorename="Commerce Read-Only Control" cspropertyname="PreorderedQuantity"/>
        <field sitecorename="Commerce Read-Only Control" cspropertyname="BackorderedQuantity"/>
        <field sitecorename="Commerce Read-Only Control" cspropertyname="SkuLastModified"/>
        <field sitecorename="Commerce Read-Only Control" cspropertyname="LastModified"/>
        <field sitecorename="Commerce Read-Only Control" cspropertyname="DateCreated"/>
        <field sitecorename="Commerce Read-Only Control" cspropertyname="Timestamp"/>
        <field sitecorename="Commerce Read-Only Control" cspropertyname="CatalogName"/>
        <field sitecorename="Single-Line Text" cstypename="String"/>
        <field sitecorename="Multi-Line Text" cstypename="Text"/>
        <field sitecorename="Commerce Int32 Control" cstypename="Integer"/>
        <field sitecorename="Commerce Double Control" cstypename="Float"/>
        <field sitecorename="Commerce Single Control" cstypename="Double"/>
        <field sitecorename="datetime" cstypename="DateTime"/>
        <field sitecorename="Commerce Int64 Control" cstypename="BigInteger"/>
        <field sitecorename="Checkbox" cstypename="Boolean"/>
        <field sitecorename="Commerce Decimal Control" cstypename="Currency"/>
        <field sitecorename="Commerce Catalog Enumeration Control" cstypename="Enumeration"/>
        <field sitecorename="Single-Line Text" cstypename="FilePath"/>
        <field sitecorename="Image" cstypename="Media"/>
      </catalogFieldTypeMapping>

      <caching enabled="true" externalIdCachingEnabled="true" cacheRefreshEnabled="true" cacheRefreshPollingTime="00:00:30" defaultCacheExpirationTime="00:10:00">
        <cacheTypes>
          <cacheType name="Local" type="Sitecore.Commerce.Connect.CommerceServer.Caching.EnterpriseLibraryCacheProvider, Sitecore.Commerce.Connect.CommerceServer"/>
        </cacheTypes>

        <caches defaultCacheType="Local">
          <cache name="FriendlyUrlsCache" enabled="true"/>
          <cache name="CommerceAssociationsCache" enabled="true"/>
          <cache name="CommerceCartCache" enabled="true"/>
        </caches>
      </caching>
    </commerceServer>

    <contactFactory>
      <patch:attribute name="type">Sitecore.Commerce.Connect.CommerceServer.Connect.CommerceContactFactory, Sitecore.Commerce.Connect.CommerceServer</patch:attribute>
    </contactFactory>

    <dataProviders>
      <readonlycatalogprovider type="Sitecore.Commerce.Connect.CommerceServer.Catalog.ReadOnlyCatalogDataProvider, Sitecore.Commerce.Connect.CommerceServer">
        <CacheOptions.DisableAll>true</CacheOptions.DisableAll>
      </readonlycatalogprovider>

      <catalogprovider type="Sitecore.Commerce.Connect.CommerceServer.Catalog.CatalogDataProvider, Sitecore.Commerce.Connect.CommerceServer"/>
    </dataProviders>

    <databases>

      <database id="master" singleInstance="true" type="Sitecore.Data.DefaultDatabase, Sitecore.Kernel">
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/catalogprovider" patch:before="*[@ref='dataProviders/main']"/>
        </dataProviders>
      </database>

      <database id="web" singleInstance="true" type="Sitecore.Data.DefaultDatabase, Sitecore.Kernel">
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/readonlycatalogprovider"/>
        </dataProviders>
      </database>

    </databases>

    <controlSources>
      <source mode="on" namespace="Sitecore.Commerce.Connect.CommerceServer.Controls" assembly="Sitecore.Commerce.Connect.CommerceServer" prefix="commerceserver"/>
    </controlSources>

    <pipelines>

      <initialize>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Pipelines.CommerceApplicationProcessor, Sitecore.Commerce.Connect.CommerceServer" method="Init" patch:before="*[1]"/>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Pipelines.CommerceCatalogProcessor, Sitecore.Commerce.Connect.CommerceServer" method="Init" patch:before="*[2]"/>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Pipelines.CommerceOrderProcessor, Sitecore.Commerce.Connect.CommerceServer" method="Init" patch:before="*[3]"/>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Pipelines.CommerceProfileProcessor, Sitecore.Commerce.Connect.CommerceServer" method="Init" patch:before="*[4]"/>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Pipelines.CommerceExpressionEvaluatorProcessor, Sitecore.Commerce.Connect.CommerceServer" method="Init" patch:before="*[5]"/>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Pipelines.CommerceCacheProcessor, Sitecore.Commerce.Connect.CommerceServer" method="Init" patch:before="*[6]"/>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Pipelines.CacheRefreshStart, Sitecore.Commerce.Connect.CommerceServer" patch:before="*[7]"/>
      </initialize>

      <preprocessRequest>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Pipelines.CommerceApplicationProcessor, Sitecore.Commerce.Connect.CommerceServer" method="BeginRequest" patch:before="*[1]"/>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Pipelines.CommerceCatalogProcessor, Sitecore.Commerce.Connect.CommerceServer" method="BeginRequest" patch:before="*[2]"/>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Pipelines.CommerceOrderProcessor, Sitecore.Commerce.Connect.CommerceServer" method="BeginRequest" patch:before="*[3]"/>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Pipelines.CommerceProfileProcessor, Sitecore.Commerce.Connect.CommerceServer" method="BeginRequest" patch:before="*[4]"/>
      </preprocessRequest>

      <httpRequestEnd>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Pipelines.CommerceApplicationProcessor, Sitecore.Commerce.Connect.CommerceServer" method="EndRequest"/>
      </httpRequestEnd>

      <shutdown>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Pipelines.CacheRefreshStop, Sitecore.Commerce.Connect.CommerceServer"/>
      </shutdown>

      <getContentEditorWarnings>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Pipelines.CheckIfCommerceServerIsInitialized, Sitecore.Commerce.Connect.CommerceServer"/>
      </getContentEditorWarnings>

      <getQueryState>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.CommandStateProcessor, Sitecore.Commerce.Connect.CommerceServer"/>
      </getQueryState>

      <renderContentEditor>
        <processor patch:before="processor[1]" type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Fields.SetCommerceEditorFormatter, Sitecore.Commerce.Connect.CommerceServer" />
      </renderContentEditor>

      <StartCommerceStagingProject>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Staging.Pipelines.StartCommerceStagingProjectProcessor, Sitecore.Commerce.Connect.CommerceServer" />
      </StartCommerceStagingProject>

      <GetCommerceStagingLocalProjectStatus>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Staging.Pipelines.GetCommerceStagingProjectLocalStatusProcessor, Sitecore.Commerce.Connect.CommerceServer" />
      </GetCommerceStagingLocalProjectStatus>

      <GetActiveCommerceStagingProjects>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Staging.Pipelines.GetActiveCommerceStagingProjectsProcessor, Sitecore.Commerce.Connect.CommerceServer" />
      </GetActiveCommerceStagingProjects>

      <GetAllCommerceStagingProjects>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Staging.Pipelines.GetAllCommerceStagingProjectsProcessor, Sitecore.Commerce.Connect.CommerceServer" />
      </GetAllCommerceStagingProjects>
    </pipelines>

    <processors>
      <saveUI>
        <processor mode="on" patch:before="processor[@type='Sitecore.Pipelines.Save.Save, Sitecore.Kernel']" type="Sitecore.Commerce.Connect.CommerceServer.ContentEditor.SaveCatalogItemCheck, Sitecore.Commerce.Connect.CommerceServer" />
        <processor mode="on" patch:after="processor[@type='Sitecore.Pipelines.Save.Save, Sitecore.Kernel']" type="Sitecore.Commerce.Connect.CommerceServer.Pipelines.HierarchyCacheClearProcessor, Sitecore.Commerce.Connect.CommerceServer" />
      </saveUI>
    </processors>

    <events>
      <event name="templatehierarchycacherefresh:remote">
        <handler type="Sitecore.Commerce.Connect.CommerceServer.Events.CommerceTemplateHierarchyCacheRefreshEventHandler, Sitecore.Commerce.Connect.CommerceServer" method="OnTemplateHierarchyCacheRefresh" />
      </event>
      <event name="commercecacherefresh:remote">
        <handler type="Sitecore.Commerce.Connect.CommerceServer.Events.CommerceCacheRefreshEventHandler, Sitecore.Commerce.Connect.CommerceServer" method="OnCacheRefresh" />
      </event>
      <event name="commercecatalogexternalidcacherefresh:remote">
        <handler type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Events.CatalogExternalIdCacheRefreshEventHandler, Sitecore.Commerce.Connect.CommerceServer" method="OnCatalogExternalIdCacheRefresh" />
      </event>
      <event name="publish:end">
        <handler patch:after="processor[@type='Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel']" type="Sitecore.Commerce.Connect.CommerceServer.Events.CommercePublishCacheRefresh, Sitecore.Commerce.Connect.CommerceServer" method="ClearCache" />
      </event>
      <event name="publish:end:remote">
        <handler patch:after="processor[@type='Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel']" type="Sitecore.Commerce.Connect.CommerceServer.Events.CommercePublishCacheRefresh, Sitecore.Commerce.Connect.CommerceServer" method="ClearCache" />
      </event>
    </events>

    <hooks>
      <hook type="Sitecore.Commerce.Connect.CommerceServer.Events.CommerceTemplateHierarchyCacheRefreshHook, Sitecore.Commerce.Connect.CommerceServer"/>
      <hook type="Sitecore.Commerce.Connect.CommerceServer.Events.CommerceCacheRefreshHook, Sitecore.Commerce.Connect.CommerceServer"/>
      <hook type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Events.CatalogExternalIdCacheRefreshHook, Sitecore.Commerce.Connect.CommerceServer"/>
    </hooks>

    <commands>
      <command name="commerce:refreshcache" type="Sitecore.Commerce.Connect.CommerceServer.Caching.RefreshCache,Sitecore.Commerce.Connect.CommerceServer"/>
    </commands>

    <scheduling>
      <!-- 
          Agent used to cleanup the external settings catalogs when the SeparateCatalogExternalSettingsResolver is used.
          
          An interval of "00:00:00" disables the agent.
      -->
      <agent type="Sitecore.Commerce.Connect.CommerceServer.Agents.CleanupExternalSettingsAgent, Sitecore.Commerce.Connect.CommerceServer" method="Run" interval="00:00:00">
        <ShouldLogActivity>True</ShouldLogActivity>
      </agent>
    </scheduling>
    
    <model>
      <elements>
        <element interface="Sitecore.Commerce.Connect.CommerceServer.IContactCommerceInfo, Sitecore.Commerce.Connect.CommerceServer" implementation="Sitecore.Commerce.Connect.CommerceServer.Models.ContactCommerceInfo, Sitecore.Commerce.Connect.CommerceServer"/>
      </elements>
      <entities>
        <contact>
          <facets>
            <facet name="ContactCommerceInfo" contract="Sitecore.Commerce.Connect.CommerceServer.IContactCommerceInfo, Sitecore.Commerce.Connect.CommerceServer" />
          </facets>
        </contact>
      </entities>
    </model>
  </sitecore>
</configuration>
