<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <pipelines>

      <initialize>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Pipelines.RegisterDataModelExtensions, Sitecore.Commerce.Connect.CommerceServer"/>
      </initialize>

    </pipelines>

  </sitecore>
</configuration>