<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <commerce.Entities>
      <Order>
        <patch:attribute name="type">Sitecore.Commerce.Connect.CommerceServer.Orders.Models.CommerceOrder, Sitecore.Commerce.Connect.CommerceServer</patch:attribute>
      </Order>
      <OrderLine>
        <patch:attribute name="type">Sitecore.Commerce.Connect.CommerceServer.Orders.Models.CommerceCartLine, Sitecore.Commerce.Connect.CommerceServer</patch:attribute>
      </OrderLine>
      <OrderProduct>
        <patch:attribute name="type">Sitecore.Commerce.Connect.CommerceServer.Orders.Models.CommerceCartProduct, Sitecore.Commerce.Connect.CommerceServer</patch:attribute>
      </OrderProduct>
      <OrderAdjustment>
        <patch:attribute name="type">Sitecore.Commerce.Connect.CommerceServer.Orders.Models.CommerceCartAdjustment, Sitecore.Commerce.Connect.CommerceServer</patch:attribute>
      </OrderAdjustment>
      <OrderHeader>
        <patch:attribute name="type">Sitecore.Commerce.Connect.CommerceServer.Orders.Models.CommerceOrderHeader, Sitecore.Commerce.Connect.CommerceServer</patch:attribute>
      </OrderHeader>
    </commerce.Entities>

    <orderServiceProvider singleInstance="true">
      <patch:attribute name="type">Sitecore.Commerce.Connect.CommerceServer.Orders.CommerceOrderServiceProvider, Sitecore.Commerce.Connect.CommerceServer</patch:attribute>
    </orderServiceProvider>

    <pipelines>

      <translate.orderGroupToOrderHeader>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.TranslateOrderGroupToOrderHeader, Sitecore.Commerce.Connect.CommerceServer">
          <param ref="entityFactory" />
        </processor>
      </translate.orderGroupToOrderHeader>

      <commerce.shipping.getShippingMethods>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.GetShippingMethods, Sitecore.Commerce.Connect.CommerceServer">
          <param ref="entityFactory" />
        </processor>
      </commerce.shipping.getShippingMethods>

      <commerce.payments.getPaymentMethods>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.GetPaymentMethods, Sitecore.Commerce.Connect.CommerceServer">
          <param ref="entityFactory" />
        </processor>
      </commerce.payments.getPaymentMethods>

      <commerce.orders.submitVisitorOrder>

        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer"
                   name="ResolveBasket"
				   patch:before="*[@type='Sitecore.Commerce.Pipelines.Orders.Common.TriggerOrderGoal, Sitecore.Commerce']"/>

        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer"
					name="BasketPipeline"
					patch:after="*[@name='ResolveBasket']">
          <param desc="pipelineName">Basket</param>
        </processor>

        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunTotalPipeline, Sitecore.Commerce.Connect.CommerceServer"
					name="TotalPipeline"
					patch:after="*[@name='BasketPipeline']">
          <param desc="pipelineName">Total</param>
        </processor>

        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer"
					name="CheckoutPipeline"
					patch:after="*[@name='TotalPipeline']">
          <param desc="pipelineName">Checkout</param>
        </processor>

        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.SubmitVisitorOrder, Sitecore.Commerce.Connect.CommerceServer"
					patch:after="*[@name='CheckoutPipeline']"/>

        <processor type="Sitecore.Commerce.Pipelines.Orders.TriggerOrderedProductStockStatusPageEvent, Sitecore.Commerce">
          <patch:attribute name="type">Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.CommerceTriggerProductStockStatusPageEvent, Sitecore.Commerce.Connect.CommerceServer</patch:attribute>
        </processor>        
        
      </commerce.orders.submitVisitorOrder>

      <commerce.orders.getVisitorOrder>
        <processor patch:before="processor[@type='Sitecore.Commerce.Pipelines.Orders.GetVisitorOrder.TriggerVisitorViewedOrderDetailsPageEvent, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.GetVisitorOrderDetail, Sitecore.Commerce.Connect.CommerceServer" />
      </commerce.orders.getVisitorOrder>

      <commerce.orders.getVisitorOrders>
        <processor patch:before="processor[@type='Sitecore.Commerce.Pipelines.Orders.GetVisitorOrders.TriggerVisitorViewedOrderHistoryPageEvent, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.GetVisitorOrders, Sitecore.Commerce.Connect.CommerceServer" />
      </commerce.orders.getVisitorOrders>

      <commerce.orders.visitorCancelOrder>
      </commerce.orders.visitorCancelOrder>

    </pipelines>
  </sitecore>
</configuration>
