<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <processors>
      <uiDeleteItems>
        <processor mode="on" type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Pipelines.DeleteCatalogItems,Sitecore.Commerce.Connect.CommerceServer" method="Execute"
                   patch:before="processor[@method='CheckTemplateLinks']"/>
      </uiDeleteItems>
    </processors>

    <pipelines>
      <RevertVirtualCatalogPropertyOverride>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Pipelines.RevertVirtualCatalogPropertyOverrideProcessor, Sitecore.Commerce.Connect.CommerceServer"/>
      </RevertVirtualCatalogPropertyOverride>

      <GetCatalogOperationProgress>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Pipelines.GetCatalogOperationProgressProcessor, Sitecore.Commerce.Connect.CommerceServer"/>
      </GetCatalogOperationProgress>

      <PurgeCompletedCatalogOperations>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Pipelines.GetCatalogOperationProgressProcessor, Sitecore.Commerce.Connect.CommerceServer"/>
      </PurgeCompletedCatalogOperations>

      <getContentEditorWarnings>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Catalog.GetVirtualCatalogRebuildStatusWarnings, Sitecore.Commerce.Connect.CommerceServer"/>
      </getContentEditorWarnings>

      <getCommerceCatalogStatus>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Pipelines.GetVirtualCatalogRebuildStatusProcessor, Sitecore.Commerce.Connect.CommerceServer"/>
      </getCommerceCatalogStatus>

      <RebuildVirtualCatalog>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Pipelines.RebuildCustomCatalogProcessor, Sitecore.Commerce.Connect.CommerceServer"/>
      </RebuildVirtualCatalog>

      <CommerceCatalogSetToSitecoreItem>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Pipelines.CatalogGroupToSitecoreItemProcessor, Sitecore.Commerce.Connect.CommerceServer" />
      </CommerceCatalogSetToSitecoreItem>

      <CommerceCatalogToSitecoreItem>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Pipelines.CatalogToSitecoreItemProcessor, Sitecore.Commerce.Connect.CommerceServer" />
      </CommerceCatalogToSitecoreItem>

      <CommerceCatalogItemToSitecoreItem>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Pipelines.CatalogItemToSitecoreItemProcessor, Sitecore.Commerce.Connect.CommerceServer" />
      </CommerceCatalogItemToSitecoreItem>

      <CommerceProductVariantToSitecoreItem>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Pipelines.ProductVariantToSitecoreItemProcessor, Sitecore.Commerce.Connect.CommerceServer" />
      </CommerceProductVariantToSitecoreItem>

      <CommerceRelationshipToSitecoreItem>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Pipelines.RelationshipToSitecoreItemProcessor, Sitecore.Commerce.Connect.CommerceServer" />
      </CommerceRelationshipToSitecoreItem>

      <CreateDynamicCatalogSet>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Pipelines.CreateDynamicCatalogGroupProcessor, Sitecore.Commerce.Connect.CommerceServer" />
      </CreateDynamicCatalogSet>

      <CreateStaticCatalogSet>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Pipelines.CreateStaticCatalogGroupProcessor, Sitecore.Commerce.Connect.CommerceServer" />
      </CreateStaticCatalogSet>

      <CreateCatalog>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Pipelines.CreateCatalogProcessor, Sitecore.Commerce.Connect.CommerceServer" />
      </CreateCatalog>

      <CreateCategory>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Pipelines.CreateCategoryProcessor, Sitecore.Commerce.Connect.CommerceServer" />
      </CreateCategory>

      <CreateProduct>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Pipelines.CreateProductProcessor, Sitecore.Commerce.Connect.CommerceServer" />
      </CreateProduct>

      <CreateVariant>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Pipelines.CreateVariantProcessor, Sitecore.Commerce.Connect.CommerceServer" />
      </CreateVariant>

      <UpdateCatalogSet>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Pipelines.UpdateCatalogGroupProcessor, Sitecore.Commerce.Connect.CommerceServer" />
      </UpdateCatalogSet>

      <UpdateCatalog>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Pipelines.UpdateCatalogProcessor, Sitecore.Commerce.Connect.CommerceServer" />
      </UpdateCatalog>

      <UpdateCatalogItem>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Pipelines.UpdateCatalogItemProcessor, Sitecore.Commerce.Connect.CommerceServer" />
      </UpdateCatalogItem>

      <UpdateVariant>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Pipelines.UpdateVariantProcessor, Sitecore.Commerce.Connect.CommerceServer" />
      </UpdateVariant>

      <UpdateRelationship>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Pipelines.UpdateRelationshipProcessor, Sitecore.Commerce.Connect.CommerceServer" />
      </UpdateRelationship>

      <DeleteCatalogOrCategoryItem>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Pipelines.DeleteCatalogItems, Sitecore.Commerce.Connect.CommerceServer" />
      </DeleteCatalogOrCategoryItem>

      <getItemPersonalizationVisibility>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Pipelines.PersonalizationVisibilityProcessor, Sitecore.Commerce.Connect.CommerceServer" />
      </getItemPersonalizationVisibility>

      <getCommerceCatalogFallbackLanguage>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Pipelines.GetCommerceCatalogFallbackLanguage, Sitecore.Commerce.Connect.CommerceServer" />
      </getCommerceCatalogFallbackLanguage>
    </pipelines>

    <events>
      <event name="publish:itemProcessing">
        <handler type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Events.CatalogPublishingExcluderEvent, Sitecore.Commerce.Connect.CommerceServer" method="CheckProcessing" />
      </event>
      <event name="catalogrebuildfulltextindex:remote">
        <handler type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Events.CatalogRebuildFullTextIndexEventHandler, Sitecore.Commerce.Connect.CommerceServer" method="OnRebuild" />
      </event>
      <event name="item:saved">
        <handler type="Sitecore.Commerce.Connect.CommerceServer.Events.CommerceItemEventHandler, Sitecore.Commerce.Connect.CommerceServer" method="OnItemSaved"/>
      </event>
    </events>

    <hooks>
      <hook type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Events.CatalogRebuildFullTextIndexHook, Sitecore.Commerce.Connect.CommerceServer"/>
    </hooks>
    
    <commands>
      <command name="commerce:generatecatalogdatatemplates" type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Commands.GenerateCatalogDataTemplatesCommand,Sitecore.Commerce.Connect.CommerceServer"/>
      <command name="commerce:deletecatalogdatatemplates" type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Commands.DeleteGeneratedTemplatesCommand,Sitecore.Commerce.Connect.CommerceServer"/>
      <command name="commerce:rebuildvirtualcatalog" type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Commands.RebuildCustomCatalogCommand,Sitecore.Commerce.Connect.CommerceServer"/>
      <command name="commerce:rebuildfulltextindex" type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Commands.CatalogRebuildFullTextIndexCommand,Sitecore.Commerce.Connect.CommerceServer"/>      
      <command name="bucket:saveasdefaultquery" type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Commands.SaveAsDefaultQueryCommand, Sitecore.Commerce.Connect.CommerceServer"/>
    </commands>
    
  </sitecore>
</configuration>