<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">

          <index id="commerce_products_master_index" type="Sitecore.ContentSearch.LuceneProvider.LuceneIndex, Sitecore.ContentSearch.LuceneProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            <!-- This initializes index property store. Id has to be set to the index id -->
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration"/>
            <strategies hint="list:AddStrategy">
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/syncMaster" />
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/allCatalogsIntervalAsyncMaster" />
            </strategies>
            <commitPolicyExecutor type="Sitecore.ContentSearch.CommitPolicyExecutor, Sitecore.ContentSearch">
              <policies hint="list:AddCommitPolicy">
                <policy type="Sitecore.ContentSearch.TimeIntervalCommitPolicy, Sitecore.ContentSearch" />
              </policies>
            </commitPolicyExecutor>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.Commerce.Connect.CommerceServer.Search.AllCatalogsCrawler, Sitecore.Commerce.Connect.CommerceServer">
                <Database>master</Database>
                <Root>/sitecore/Commerce/Catalog Management/Catalogs</Root>
              </crawler>
            </locations>
          </index>
          <index id="sitecore_master_index">
            <strategies hint="list:AddStrategy">
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/selectedCatalogsIntervalAsyncMaster"/>
            </strategies>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
              </crawler>
              <crawler type="Sitecore.Commerce.Connect.CommerceServer.Search.SelectedCatalogsCrawler, Sitecore.Commerce.Connect.CommerceServer">
                <Database>master</Database>
                <Root>/sitecore/Commerce/Catalog Management/Catalogs</Root>
              </crawler>
            </locations>
          </index>

          <index id="commerce_userprofiles_index_master" type="Sitecore.ContentSearch.LuceneProvider.LuceneIndex, Sitecore.ContentSearch.LuceneProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            <!-- This initializes index property store. Id has to be set to the index id -->
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/commerceLuceneProfileUserObjectIndexConfiguration" />

            <commitPolicyExecutor type="Sitecore.ContentSearch.CommitPolicyExecutor, Sitecore.ContentSearch">
              <policies hint="list:AddCommitPolicy">
                <policy type="Sitecore.ContentSearch.TimeIntervalCommitPolicy, Sitecore.ContentSearch" />
              </policies>
            </commitPolicyExecutor>

            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.Commerce.Connect.CommerceServer.Search.UserProfileCrawler, Sitecore.Commerce.Connect.CommerceServer">
                <ProfileType>UserObject</ProfileType>
                <AddressPropertiesToIndex>
                  GeneralInfo.address_line1, GeneralInfo.address_line2, GeneralInfo.city, GeneralInfo.region_code, GeneralInfo.region_name, GeneralInfo.postal_code, GeneralInfo.country_name, GeneralInfo.country_code, GeneralInfo.tel_number
                </AddressPropertiesToIndex>
              </crawler>
            </locations>
          </index>
        </indexes>
      </configuration>

    </contentSearch>
  </sitecore>
</configuration>