<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!--  Commerce ENTITIES
          Contains all the Commerce loyalty program entities.
          The configuration can be used to substitute the default entity implementation with extended one.
    -->
    <commerce.Entities>
      <SortDirection type="Sitecore.Commerce.Entities.Catalog.SortDirection, Sitecore.Commerce"/>
    </commerce.Entities>

    <!-- CATALOG SERVICE PROVIDER 
         Defines the object which provides core catalog services.
         Default implementation simply calls corresponding pipelines.
    -->
    <catalogServiceProvider type="Sitecore.Commerce.Services.Catalog.CatalogServiceProvider, Sitecore.Commerce" singleInstance="true" />

    <pipelines>
      <commerce.catalogs.productSorting>
        <processor type="Sitecore.Commerce.Pipelines.Catalog.TriggerProductSortingPageEvent, Sitecore.Commerce">
          <Name>Product Sorting</Name>
        </processor>
      </commerce.catalogs.productSorting>

      <commerce.catalogs.facetApplied>
        <processor type="Sitecore.Commerce.Pipelines.Catalog.TriggerFacetAppliedPageEvent, Sitecore.Commerce">
          <Name>Facet Applied</Name>
        </processor>
      </commerce.catalogs.facetApplied>

      <commerce.catalogs.visitedProductDetailsPage>
        <processor type="Sitecore.Commerce.Pipelines.Catalog.TriggerVisitedProductDetailsPagePageEvent, Sitecore.Commerce">
          <Name>Visited Product Details Page</Name>
        </processor>
      </commerce.catalogs.visitedProductDetailsPage>

      <commerce.catalogs.visitedCategoryPage>
        <processor type="Sitecore.Commerce.Pipelines.Catalog.TriggerVisitedCategoryPagePageEvent, Sitecore.Commerce">
          <Name>Visited Category Page</Name>
        </processor>
      </commerce.catalogs.visitedCategoryPage>

      <commerce.catalogs.searchInitiated>
        <processor type="Sitecore.Commerce.Pipelines.Catalog.TriggerSearchPageEvent, Sitecore.Commerce">
          <Name>Search</Name>
        </processor>
      </commerce.catalogs.searchInitiated>
    </pipelines>
  </sitecore>
</configuration>