<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <configSections>
      <sectionGroup name="CommerceEnvironment">
        <section name="ApiService" type="System.Configuration.SingleTagSectionHandler"/>
        <section name="CommerceOpsService" type="System.Configuration.SingleTagSectionHandler"/>
      </sectionGroup>
    </configSections>

    <CommerceEnvironment>
      <ApiService DataServiceUrl="http://localhost:5000/api/" ShopName="Storefront" />
      <CommerceOpsService DataServiceUrl="http://localhost:5000/commerceops/" ShopName="Storefront" />
    </CommerceEnvironment>

    <pipelines>
      <!--
      Add precompilation of SPEAK Views later.
      <initialize>
        <processor type="Sitecore.Pipelines.Initialize.PrecompileSpeakViews, Sitecore.Speak.Client" use="CustomerOrderManager">
          <Paths>/sitecore/shell/client/Commerce/Layouts/Renderings</Paths>
        </processor>
      </initialize>-->

      <initialize>
        <processor type="Sitecore.Commerce.UX.Shared.RegisterCommerceBusinessToolsRoutes, Sitecore.Commerce.UX.Shared"/>
      </initialize>

      <speak.client.resolveScript>
        <processor type="Sitecore.Resources.Pipelines.ResolveScript.Controls, Sitecore.Speak.Client">
          <sources hint="raw:AddSource">
            <source folder="/sitecore/shell/client/Commerce/Layouts/Renderings" deep="true" category="components" pattern="*.js,*.css" />
          </sources>
        </processor>
      </speak.client.resolveScript>
    </pipelines>
  </sitecore>
</configuration>