@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@model RenderingModel
<header class="sc-applicationHeader">
    @Html.Sitecore().Placeholder("ApplicationHeader")
</header>
<section class="sc-applicationContent-main">
    @Html.Sitecore().Placeholder("ApplicationContent.Main")
</section>


