@using Sitecore.Mvc
<div class="row-fluid sc-globalHeader-content">

    <div class="col-md-1 col-xs-1">
        <div class="sc-globalHeader-startButton">
            @Html.Sitecore().Placeholder("GlobalHeader.StartButton")
        </div>
        <div class="sc-globalHeader-messaging">
            @Html.Sitecore().Placeholder("GlobalHeader.Messaging")
        </div>
    </div> 
    <div class="col-md-11 col-xs-11">
        <div class="sc-globalHeader-search">
            @Html.Sitecore().Placeholder("GlobalHeader.Search")
            @Html.Sitecore().Placeholder("GlobalHeader.LoginInfo")
        </div>
    </div>
        
    </div>
