@using Sitecore.Mvc
<div class="row-fluid cs-commerceitem">
    <div class="cs-languageSelector">
        @Html.Sitecore().Placeholder("CommerceItem.Language")
    </div>
    <div class="col-lg-2 col-md-3 col-sm-5">
        @Html.Sitecore().Placeholder("CommerceItem.Info")
    </div>

    <div class="col-lg-10 col-md-9 col-sm-7 expand-fields">
        @Html.Sitecore().Placeholder("CommerceItem.Main")
    </div>
</div>