@using Sitecore.Mvc
<header class="sc-applicationHeader">
    @Html.Sitecore().Placeholder("ApplicationHeader")
</header>
<section class="sc-applicationContent-main">
    @Html.Sitecore().Placeholder("ApplicationContent.TabControl")
    <section class="cs-actionbar sc-CommerceApplicationContent-actions">
        @Html.Sitecore().Placeholder("ApplicationContent.Actions")
    </section>

    @Html.Sitecore().Placeholder("ApplicationContent.Main")

</section>
        

