@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
  var rendering = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
  rendering.Class = "sc-ColumnPicker";
  rendering.Requires.Script("client", "ColumnPicker.js");
  
  var columns = rendering.GetString("Columns", "columns");
  var selectedColumns = rendering.GetString("SelectedColumns", "selectedColumns");
  var htmlAttributes = rendering.HtmlAttributes;
  var AvailableColumnsLabel = rendering.GetString("availableColumnLabel", "availableColumnLabel");
  var SelectedColumnsLabel = rendering.GetString("selectedColumnLabel", "selectedColumnLabel");
  var SearchPlaceholderLabel = rendering.GetString("searchPlaceholderLabel", "searchPlaceholderLabel");
}      
<div @htmlAttributes>
    <div class="dialog-column">
        <label>@AvailableColumnsLabel</label>
        <input type="search" placeholder="@SearchPlaceholderLabel" name="filtercolumn" class="sc-filterColumn-search column-search" />
        <ul data-bind="foreach: $data['columns']" class="sc-filterColumn-list sc-columnList">
            <li class="column-item" data-bind="text: $data['DisplayName'], attr:{'sc-li-id':$data['itemId']}">
            </li>
        </ul>
        <div class="addButton btn sc-button btn-default noText"></div>
        <div class="removeButton btn sc-button btn-default noText"></div>
    </div>
    <div class="dialog-column">
        <label>@SelectedColumnsLabel</label>
        <ul data-bind="foreach: $data['selectedColumns']" class="sc-selectedColumn-list sc-columnList">
            <li class="column-item" data-bind="text: $data['DisplayName'], attr:{'sc-li-id':$data['itemId']}">
            </li>
        </ul>
        <div class="moveUp btn sc-button btn-default noText"></div>
        <div class="moveDown btn sc-button btn-default noText"></div>
    </div>
    
</div>
