<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commerce.Entities>      
      <FederatedPayment type="Sitecore.Commerce.Entities.Carts.FederatedPaymentInfo, Sitecore.Commerce" />
    </commerce.Entities>
    <pipelines>
      <commerce.payments.getPaymentOptions>
        <processor type="Sitecore.Commerce.Engine.Connect.Pipelines.Payments.GetPaymentOptions, Sitecore.Commerce.Engine.Connect">
          <param ref="entityFactory"/>
        </processor>
      </commerce.payments.getPaymentOptions>

      <commerce.payments.getPaymentMethods>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.GetPaymentMethods, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Engine.Connect.Pipelines.Payments.GetPaymentMethods, Sitecore.Commerce.Engine.Connect">
          <param ref="entityFactory"/>
        </processor>
      </commerce.payments.getPaymentMethods>
      <commerce.payments.getClientToken>        
        <processor type="Sitecore.Commerce.Engine.Connect.Pipelines.Payments.GetClientToken, Sitecore.Commerce.Engine.Connect">          
        </processor>
      </commerce.payments.getClientToken>
    </pipelines>
  </sitecore>
</configuration>