<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commerce.Entities>
      <ShippingInfo>
        <patch:attribute name="type">Sitecore.Commerce.Engine.Connect.Entities.Carts.CommerceShippingInfo, Sitecore.Commerce.Engine.Connect</patch:attribute>
      </ShippingInfo>
    </commerce.Entities>

    <pipelines>
      <translate.cartLineToEntity>
        <processor type="Sitecore.Commerce.Engine.Connect.Pipelines.Carts.TranslateCartLineToEntity, Sitecore.Commerce.Engine.Connect">
          <param ref="entityFactory" />
        </processor>
      </translate.cartLineToEntity>

      <translate.cartToEntity>
        <processor type="Sitecore.Commerce.Engine.Connect.Pipelines.Carts.TranslateCartToEntity, Sitecore.Commerce.Engine.Connect">
          <param ref="entityFactory" />
        </processor>
      </translate.cartToEntity>

      <commerce.carts.lockCart>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.LockCart.LockCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.LockCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
      </commerce.carts.lockCart>

      <commerce.carts.unlockCart>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.UnlockCart.UnlockCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.UnlockCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
      </commerce.carts.unlockCart>

      <commerce.carts.updateCart>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.UpdateCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
      </commerce.carts.updateCart>

      <commerce.carts.loadCart>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.LoadCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunTotalPipeline, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor patch:before="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce']"
                   type="Sitecore.Commerce.Engine.Connect.Pipelines.Carts.LoadCart, Sitecore.Commerce.Engine.Connect"/>
      </commerce.carts.loadCart>

      <commerce.carts.getCarts>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.GetCarts, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Engine.Connect.Pipelines.Carts.GetCarts, Sitecore.Commerce.Engine.Connect"/>
      </commerce.carts.getCarts>

      <commerce.carts.saveCart>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.SaveCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
      </commerce.carts.saveCart>

      <commerce.carts.deleteCart>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.DeleteCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
      </commerce.carts.deleteCart>

      <commerce.carts.addCartLines>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.AddLinesToCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunTotalPipeline, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.AddLinesToCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor patch:before="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce']"
                   type="Sitecore.Commerce.Engine.Connect.Pipelines.Carts.AddCartLines, Sitecore.Commerce.Engine.Connect">
          <param ref="eaPlanProvider"/>
          <param ref="eaStateCartRepository"/>
          <param desc="DisableEaPlan">False</param>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.UpdateCartLinePrice, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce">
          <patch:delete/>
        </processor>
      </commerce.carts.addCartLines>

      <commerce.carts.removeCartLines>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RemoveLinesFromCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer" >
          <patch:delete/>
        </processor>
        <processor patch:before="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce']"
                   type="Sitecore.Commerce.Engine.Connect.Pipelines.Carts.RemoveCartLines, Sitecore.Commerce.Engine.Connect" />
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
      </commerce.carts.removeCartLines>

      <commerce.carts.updateCartLines>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.UpdateLinesOnCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunTotalPipeline, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor patch:before="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce']"
                  type="Sitecore.Commerce.Engine.Connect.Pipelines.Carts.UpdateCartLines, Sitecore.Commerce.Engine.Connect">
          <param desc="Rollup">True</param>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
      </commerce.carts.updateCartLines>

      <commerce.carts.addPromoCode>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.AddPromoCodeToCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer" >
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunTotalPipeline, Sitecore.Commerce.Connect.CommerceServer" >
          <patch:delete/>
        </processor>
        <processor patch:after="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce']"
           type="Sitecore.Commerce.Engine.Connect.Pipelines.Carts.AddPromoCodeToCart, Sitecore.Commerce.Engine.Connect" />
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
      </commerce.carts.addPromoCode>

      <commerce.carts.removePromoCode>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RemovePromoCodeFromCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunTotalPipeline, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor patch:after="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce']"
           type="Sitecore.Commerce.Engine.Connect.Pipelines.Carts.RemovePromoCodeFromCart, Sitecore.Commerce.Engine.Connect" />
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
      </commerce.carts.removePromoCode>

      <commerce.carts.mergeCart>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.MergeCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor patch:before="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce']"
                   type="Sitecore.Commerce.Engine.Connect.Pipelines.Carts.MergeCart, Sitecore.Commerce.Engine.Connect"/>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
      </commerce.carts.mergeCart>

      <commerce.carts.addParties>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete />
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.AddPartiesToCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete />
        </processor>
        <processor patch:after="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce']"
                   type="Sitecore.Commerce.Engine.Connect.Pipelines.Carts.AddPartiesToCart, Sitecore.Commerce.Engine.Connect">
          <param ref="entityFactory" />
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
      </commerce.carts.addParties>

      <commerce.carts.removeParties>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RemovePartiesFromCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete />
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete />
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        </processor>
        <processor patch:after="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce']"
                   type="Sitecore.Commerce.Engine.Connect.Pipelines.Carts.RemovePartiesFromCart, Sitecore.Commerce.Engine.Connect" />
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
      </commerce.carts.removeParties>

      <commerce.carts.updateParties>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete />
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.UpdatePartiesInCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete />
        </processor>
        <processor patch:after="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce']"
                   type="Sitecore.Commerce.Engine.Connect.Pipelines.Carts.UpdatePartiesInCart, Sitecore.Commerce.Engine.Connect" />
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
      </commerce.carts.updateParties>

      <commerce.carts.addShippingInfo>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.AddShippingInfoToCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunTotalPipeline, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor patch:after="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce']"
                   type="Sitecore.Commerce.Engine.Connect.Pipelines.Carts.AddShippingInfoToCart, Sitecore.Commerce.Engine.Connect">
          <param ref="entityFactory" />
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
      </commerce.carts.addShippingInfo>

      <commerce.carts.removeShippingInfo patch:source="Sitecore.Commerce.Carts.config">
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RemoveShippingInfoFromCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunTotalPipeline, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor patch:after="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce']"
                   type="Sitecore.Commerce.Engine.Connect.Pipelines.Carts.RemoveShippingInfoFromCart, Sitecore.Commerce.Engine.Connect">
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
      </commerce.carts.removeShippingInfo>

      <commerce.carts.addPaymentInfo>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.AddPaymentInfoToCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunTotalPipeline, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor patch:after="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce']"
                   type="Sitecore.Commerce.Engine.Connect.Pipelines.Carts.AddPaymentInfoToCart, Sitecore.Commerce.Engine.Connect"/>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
      </commerce.carts.addPaymentInfo>

      <commerce.carts.removePaymentInfo>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RemovePaymentInfoFromCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunTotalPipeline, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor patch:after="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce']"
                   type="Sitecore.Commerce.Engine.Connect.Pipelines.Carts.RemovePaymentInfoFromCart, Sitecore.Commerce.Engine.Connect"/>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
      </commerce.carts.removePaymentInfo>
    </pipelines>
  </sitecore>
</configuration>