@model System.Collections.Generic.IDictionary<string, object>
    @{
        var previewProperties = (IDictionary<string, object>)this.Model["Properties"];
        var isHiddenProperties = (IDictionary<string, bool>)this.Model["PropertyVisibility"];

        foreach (var propertyKey in previewProperties.Keys)
        {
            var isHidden = isHiddenProperties[propertyKey];
            if (!isHidden)
            {
                var propertyValue = (IDictionary<string, object>)@previewProperties[propertyKey];
                <div class="col-md-3 col-sm-12 col-xs-12 col-lg-3">
                    <span class="sidebar-label">@propertyValue["DisplayName"]</span>
                    <span class="sidebar-text">@propertyValue["Value"]</span>
                </div>
            }
        }
    }
