@using Sitecore.Mvc
@using Sitecore.Web.UI.Controls.Common.UserControls
@model Sitecore.Speak.Components.Models.ComponentRenderingModel
@{
    Model.Class.Append("sc-querybuilder");
    Model.DataBind.IsVisible();
    var id = Model.Rendering.Parameters["Id"];
    var containerId = id.Replace(" ", string.Empty) + "Container";
}
<div @Model.HtmlAttributes>
    <div id="@containerId"></div>
</div>
<link href="~/sitecore/shell/client/Applications/PricingAndPromotionsManager/Renderings/QueryBuilder/assets/query-builder.default.css" rel="stylesheet" />
<link href="~/sitecore/shell/client/Applications/PricingAndPromotionsManager/Renderings/QueryBuilder/assets/chosen.min.css" rel="stylesheet" />
<link href="~/sitecore/shell/client/Applications/PricingAndPromotionsManager/Renderings/QueryBuilder/assets/selectize.bootstrap3.css" rel="stylesheet" />
<link href="~/sitecore/shell/client/Applications/PricingAndPromotionsManager/Renderings/QueryBuilder/assets/uidatepicker.bootstrap.min.css" rel="stylesheet" />