@using Sitecore.Data;
@using Sitecore.Data.Items;

@{
    var catalogPagePath = "/sitecore/client/Applications/MerchandisingManager/Catalog?target=";
}
<div class="CommerceTiles">
    <div class="TileImage" onclick="window.location.href = $(this).attr('href');" data-bind="style: { backgroundImage: 'url(\'' + toolsIcon() + '\')'}, attr: {href: '@catalogPagePath' + itemId()}" />
    <span class="sc-tile-checkBoxContainer"></span>
    <div class="TileBody">
        <a onclick="window.location.href = $(this).attr('href');" data-bind="attr: { id: itemId() + '_catalog', href: '@catalogPagePath' + itemId(), text: catalogName }">
            <span data-bind="text: catalogName"></span>
        </a>
    </div>
</div>