<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <translate.partyToEntity>
        <processor type="Sitecore.Commerce.Engine.Connect.Pipelines.Customers.TranslatePartyToEntity, Sitecore.Commerce.Engine.Connect">
          <param ref="entityFactory" />
        </processor>
      </translate.partyToEntity>

      <translate.entityToParty>
        <processor type="Sitecore.Commerce.Engine.Connect.Pipelines.Customers.TranslateEntityToParty, Sitecore.Commerce.Engine.Connect"/>
      </translate.entityToParty>
    </pipelines>
  </sitecore>
</configuration>