<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commerce.Entities>
      <Price>
        <patch:attribute name="type">Sitecore.Commerce.Engine.Connect.Entities.Prices.ExtendedCommercePrice, Sitecore.Commerce.Engine.Connect</patch:attribute>
      </Price>
    </commerce.Entities>
    
    <pipelines>
      <commerce.prices.getProductPrices>
        <processor type="Sitecore.Commerce.Pipelines.Prices.GetProductPrices.GetProductPrices, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Pipelines.GetProductPrices, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Engine.Connect.Pipelines.Prices.GetProductPrices, Sitecore.Commerce.Engine.Connect">
          <param ref="entityFactory"/>
        </processor>
      </commerce.prices.getProductPrices>

      <commerce.prices.getProductBulkPrices>
        <processor type="Sitecore.Commerce.Pipelines.Prices.GetProductBulkPrices.GetProductBulkPrices, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Pipelines.GetProductBulkPrices, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Engine.Connect.Pipelines.Prices.GetProductBulkPrices, Sitecore.Commerce.Engine.Connect">
          <param ref="entityFactory"/>
        </processor>
      </commerce.prices.getProductBulkPrices>
    </pipelines>
  </sitecore>
</configuration>