div[data-sc-id="SearchBox"] {
    line-height: 0px;
    top: 7px;
    width: 240px;
    margin-left: 12px;
    margin-right: 12px;
    float: left;
}

button[data-sc-id=Help] {
margin-top: 7px;
float: left;
}

ul[data-sc-id=AccountInformation] {
float:right;
}

span[data-sc-id=SelectedOrderItemTitle],
span[data-sc-id=SelectedCustomerItemTitle] {
    display: block;
        clear: both;
            margin-top: 5px !important;
            margin-left: 14px !important;
            font-weight: bold;
        
}

button[data-sc-id=OrderDetailsButton],
button[data-sc-id=CustomerDetailsButton] {
   float:right;
    margin-bottom: 16px;
    margin-top: 8px;
    margin-right: 20px;
}

/*div[data-sc-id=OrderItemsActionControl],div[data-sc-id=OrderActionControl],div[data-sc-id=OrdersActionControl],div[data-sc-id=CustomerActionControl] {
margin-top:16px;
margin-bottom:16px;
position: relative;
z-index: 1000;
}*/

div[data-sc-id=SideBorder] {
float:left;
    margin-top: 13px;
        width: 25%;
}

div[data-sc-id=PreviewPanel] {
    background-color: white;
    margin-right: 17px;
    min-height: 135px;
    padding: 17px !important;
        margin-top: 9px;
          border: 1px solid #ccc;
    border-width: .5px !important;
   
}

div[data-sc-id=MainBorder] {
width:75%;
float:left;
    padding: 0px !important;
}

@media (max-width: 700px) {
  div[data-sc-id=SideBorder] {
    display: none;
  }

  div[data-sc-id=MainBorder] {
width:100%;
}
}


div[data-sc-id=SearchTabControl] div.sc-tab-control-nav-wrap, div[data-sc-id=OrderTabControl] div.sc-tab-control-nav-wrap, div[data-sc-id=CustomerTabControl] div.sc-tab-control-nav-wrap {
    margin-left: 14px;
    margin-top: 8px;
}

div[data-sc-id=SearchTabControl] div.sc-tab-control-nav-wrap ul.sc-tab-control-nav, div[data-sc-id=CustomerTabControl] div.sc-tab-control-nav-wrap ul.sc-tab-control-nav, div[data-sc-id=OrderTabControl] div.sc-tab-control-nav-wrap ul.sc-tab-control-nav {
    left:0px !important;
}


.sidebar-input {
        padding-left: 2px;
        font-size:14px;
        margin-bottom:8px;
}

.sidebar-label {
    color:rgb(102, 102, 102);
    font-size:12px;
    clear:left;
    display:block;
}

.sidebar-text {
    color:black;
    font-size:14px;
    margin-bottom:16px;
    display:inline-block;
}

div[data-sc-id=MainActionBorder] {
    height: 58px;
}


button[data-sc-id=MoreResultsButton] {
    width: 100%;
    border-radius: 0px;
}

.sc-expander {
    margin: 14px;
}

span[data-sc-id=itemsLabel], span[data-sc-id=variantsLabel] {
        margin-top: 20px !important;
    display: block;

}

div[data-sc-id=ItemsDropList], select[data-sc-id=VariantsListBox] {
    margin-top: 10px !important;

}

div[data-sc-id=VariantsPanel] div > div.sc-spinner {
margin-top:110px 
}


a[data-sc-id=HomeButton] {
color:white !important;
margin-left: -5px !important;
}

div[data-sc-id=Popover1] {
    width: 227px;
    height: 320px;
}

section[data-sc-id=ItemPickerContainer] button[data-sc-id=SelectButton] {
    position: absolute !important;
    bottom: 12px;
    right: 106px;
}

section[data-sc-id=ItemPickerContainer] button[data-sc-id=CancelButton] {
    position: absolute !important;
    bottom: 12px;
    right: 12px;
}

div[data-sc-id=DummyTextBox] {
    width: 464px;  
        margin-left: 13px;
    margin-top: 12px;
}

div[data-sc-id=ItemPickerContainer] {
    width: 350px;
    height: 400px;
    position: fixed;
    top:25%;
    left: 40%;
    background-color: white;
    border: 1px solid #333 !important;
    padding: 21px !important;
    z-index: 10000;
}

div[data-sc-id=PaymentPopupContainer] {
    width: 650px;
    height: 400px;
    position: fixed;
    top:25%;
    left: 40%;
    background-color: white;
    border: 1px solid #333 !important;
    padding: 21px !important;
    z-index: 10000;
}

section[data-sc-id=PaymentPopupContainer] button[data-sc-id=OKButton] {
    position: absolute !important;
    bottom: 12px;
    right: 100px;
}

section[data-sc-id=PaymentPopupContainer] button[data-sc-id=CancelButton] {
    position: absolute !important;
    bottom: 12px;
    right: 12px;
}

select[data-sc-id=EnvironmentsSwitcher] {
    float: right;
    width: 200px;
    margin-top: 7px !important;
    margin-right: 18px !important;
}

#ActionsContainer div.sc-actionpanel {
        background: none;
        background-image: none;
            margin-top: -23px;
    margin-right: -6px;
    }

#ActionsContainer div.sc-actionpanel ul.nav > li > .btn-group button {
    max-width: 170px;
        box-shadow: none;
}
 


div.sc-actionpanel {
        background: none;
        background-image: none;
            margin-top: -14px;
    margin-right: -15px;
    }

div.sc-actionpanel .btn-default {
            background: none;
            background-image: none;
            border: none;
            border-radius: 0;
            height: 46px;
            color:white;
            
        }

div.sc-actionpanel ul.nav > li > .btn-group button {
    max-width: 170px;
        box-shadow: none;
    margin-top: 15px;
}

div.sc-actionpanel .btn-default:hover {
                background: #666;
                box-shadow: none;
            }

div.sc-actionpanel .btn-default:active {
                border: 0px;
                box-shadow: inset 0 0 6px #b0b0b0;
            }


div.SnapshotActionContainer div.sc-actionpanel {
        background: none;
        background-image: none;
            margin-top: -14px;
    margin-right: -12px;
    }

div.sc-applicationHeader-actions .btn-default {
            background: none;
            background-image: none;
            border: none;
            border-radius: 0;
            height: 46px;
            color:black;
        }


div.sc-applicationHeader-actions .btn-default:hover {
                background: #e3e3e3;
                box-shadow: none;
 
            }

div.sc-applicationHeader-actions .btn-default:active {
                border: 0px;
                box-shadow: inset 0 0 6px #b0b0b0;
             
            }


@media (min-width: 992px) {
    body > div > div > header > div > div:nth-child(1) {
        width: 25% !important;
    }

    body > div > div > header > div > div:nth-child(2) {
         width: 75% !important;
    }
}

div.sc-expander-header-actionbar-container  div.sc-actionpanel {
        background: none;
        background-image: none;
            margin-top: -23px;
    margin-right: -6px;
    }

div.sc-expander-header-actionbar-container  div.sc-actionpanel ul.nav > li > .btn-group button {
    max-width: 170px;
        box-shadow: none;
}
 


div.sc-expander-header-actionbar-container div.sc-actionpanel {
        background: none;
        background-image: none;
            margin-top: -14px;
    margin-right: -15px;
    }

div.sc-expander-header-actionbar-container div.sc-actionpanel .btn-default {
            background: none;
            background-image: none;
            border: none;
            border-radius: 0;
            height: 46px;
            color:white;
            
        }

div.sc-expander-header-actionbar-container div.sc-actionpanel ul.nav > li > .btn-group button {
    max-width: 170px;
        box-shadow: none;
    margin-top: 15px;
}

div.sc-expander-header-actionbar-container div.sc-actionpanel .btn-default:hover {
                background: #666;
                box-shadow: none;
            }

div.sc-expander-header-actionbar-container div.sc-actionpanel .btn-default:active {
                border: 0px;
                box-shadow: inset 0 0 6px #b0b0b0;
            }


div.sc-expander-header-actionbar-container div.sc-actionpanel ul.nav .sc-dropdownbutton-chevron {
    border-top: 8px solid #cccccc;
    border-bottom: 0 solid #474747;
    margin-top: 0px;
}

div.sc-expander-header-actionbar-container div.sc-actionpanel ul.nav .sc-dropdownbutton-chevron.up {
    border-top: 8px solid transparent;
    border-bottom: 8px solid #cccccc;
    margin-top: -8px;
}


div.sc-expander-header-actionbar-container div.sc-actionpanel .btn-default.mainButton {
    border: 0;
    margin-top: 15px;
    box-shadow: none;
}


div.sc-actionpanel {
        background: none;
        background-image: none;
            margin-top: -14px;
    margin-right: -12px;
    }

div.sc-actionpanel .btn-default {
            background: none;
            background-image: none;
            border: none;
            border-radius: 0;
            height: 46px;
            color:black;
        }

div.sc-actionpanel ul.nav > li > .btn-group button {
    max-width: 170px;
    margin-top:0px;
}

div.sc-actionpanel .btn-default:hover {
                background: #e3e3e3;
                box-shadow: none;
            }
.btn-default:active {
                border: 0px;
                box-shadow: inset 0 0 6px #b0b0b0;
            }

           
div.sc-actionpanel ul.nav .sc-dropdownbutton-chevron {
    border-top: 8px solid black;
    border-bottom: 0 solid #474747;
    margin-top: 0px;
}

div.sc-actionpanel ul.nav .sc-dropdownbutton-chevron.up {
    border-top: 8px solid transparent;
    border-bottom: 8px solid black;
    margin-top: -8px;
}

div.sc-actionpanel .btn-default.mainButton {
    border: 0;
    margin-top: 0px;
    box-shadow: none;
}


div.sc-actionpanel {
        background: none;
        background-image: none;
            margin-top: -14px;
    margin-right: -12px;
    }

div[data-sc-id=GlobalActionsControl] a:first-child {
    text-align: center;
    line-height: 28px;
}

div[data-sc-id=GlobalActionsControl] {
        margin-top: -5px;
    margin-right: 0px;
}

div.sc-expander-bodywrapper {
        margin-top: 12px;
}

div[data-sc-id=GeneralErrorMessage] {
    display: block;
    position: fixed;
    z-index: 10000;
    width: 100%;
    top: 250px;
}

div[data-sc-id=ErrorMessage] {
    display: block;
    position: fixed;
    z-index: 10000;
    width: 100%;
}


.sc .sc-tab-control {
overflow:visible;
}

.sc .sc-dialogWindow.modal a.sc-dialogWindow-maximize {
display:none !important;
}

div[data-sc-id=FormRoot] {
    min-height: 350px;
     max-height: 430px;
}

div[data-sc-id="GlobalActionsControl"] > ul > li:nth-child(1) > div.btn-group > button {
    background-image: -webkit-linear-gradient(top, #289bc8 0%, #1d7395 100%);
    background-image: -o-linear-gradient(top, #289bc8 0%, #1d7395 100%);
    background-image: linear-gradient(to bottom, #289bc8 0%, #1d7395 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff289bc8', endColorstr='#ff1d7395', GradientType=0);
    border-color: #1c6d8d;
    background-image: -webkit-linear-gradient(top, #289bc8 0%, #207da2 100%);
    background-image: -o-linear-gradient(top, #289bc8 0%, #207da2 100%);
    background-image: linear-gradient(to bottom, #289bc8 0%, #207da2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff289bc8', endColorstr='#ff207da2', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #175973;
    -webkit-box-shadow: inset 0 1px #5dbadf;
    box-shadow: inset 0 1px #5dbadf;
    color: white;
    border-radius: 6px;
}

div[data-sc-id="GlobalActionsControl"] > ul > li:nth-child(1) > div.btn-group > button:hover{
    background-image: -webkit-linear-gradient(top, #289bc8 0%, #289bc8 100%);
    background-image: -o-linear-gradient(top, #289bc8 0%, #289bc8 100%);
    background-image: linear-gradient(to bottom, #289bc8 0%, #289bc8 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff289bc8', endColorstr='#ff289bc8', GradientType=0);
    border-color: #175973;
}
div[data-sc-id="GlobalActionsControl"] > ul > li:nth-child(1) > div.btn-group > button:active{
    background-image: -webkit-linear-gradient(top, #207da2 0%, #207da2 100%);
    background-image: -o-linear-gradient(top, #207da2 0%, #207da2 100%);
    background-image: linear-gradient(to bottom, #207da2 0%, #207da2 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff207da2', endColorstr='#ff207da2', GradientType=0);
    -webkit-box-shadow: inset 0 3px 3px #13485e;
    box-shadow: inset 0 3px 3px #13485e;
    background-image: none;
    border-color: #175973;
}



   