@using Sitecore.Data;
@using Sitecore.Data.Items;

@{
    var productPagePath = "/sitecore/client/Applications/MerchandisingManager/ProductDetail?target=";

}
<div class="CommerceTiles">
    <div class="TileImage" onclick="window.location.href = $(this).attr('href');" data-bind="style: { backgroundImage: 'url(\'' + toolsIcon() + '\')'} , alt: description, attr: {title: description, href: '@productPagePath' + itemId() + '&p=' + clickPath()}" />
    <span class="sc-tile-checkBoxContainer"></span>
    <div class="TileBody">
        <a onclick="window.location.href = $(this).attr('href');" data-bind="attr: { id: itemId() + '_product', href: '@productPagePath' + itemId() + '&p=' + clickPath(), text: _displayname }">
            <span data-bind="text: _displayname"></span>
        </a>
        <span data-bind="truncatedText: description"></span>
        <p><span data-bind="html: CommerceUtilities.getCurrencyFormattedSpan(listprice())"></span></p>
    </div>
</div>