@using Sitecore.Data;
@using Sitecore.Data.Items;

<div class="CommerceTiles">
    <div class="TileImage" data-bind="style: { backgroundImage: 'url(\'' + toolsIcon() + '\')'} , alt: RelationshipDescription, attr: {title: RelationshipDescription}" />
    <span class="sc-tile-checkBoxContainer"></span>
    <div class="TileBody">
        <span data-bind="attr: { id: itemId()}"></span>
        <p data-bind="text: $data['__Display name']"></p>
        <span data-bind="truncatedText: RelationshipDescription"></span>
        <p data-bind="text: RelationshipName"></p>
    </div>
</div>