@model Sitecore.Speak.Components.Models.ComponentRenderingModel
@{
    var buttonTextParameters = Sitecore.ClientHost.Databases.Database.GetItem("{E4C6654E-750F-4884-82F6-EC26F8C32679}");
    var buttonText = "Validate Payment Information";
    if (buttonTextParameters != null)
    {
        buttonText = buttonTextParameters.Fields["Text"].Value;
    }
}
<div @Model.HtmlAttributes>
    <form>
        <section>
            <div class="bt-drop-in-wrapper">
                <div id="dropin-container"></div>
            </div>
        </section>
        <button id="braintreeSubmit" class="button" type="submit">
            <span>@buttonText</span>
        </button>
    </form>
</div>

