@using Sitecore.Mvc
@using Sitecore.Web.UI.Controls.Common.UserControls
@model Sitecore.Speak.Components.Models.ComponentRenderingModel
@{
    Model.Class.Append("sc-tageditor");
    Model.DataBind.IsVisible();
}
<div @Model.HtmlAttributes>
</div>
<link href="~/sitecore/shell/client/Commerce/Layouts/Renderings/TagEditor/assets/jquery.tag-editor.css" rel="stylesheet" />