<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <pipelines>

      <initialize>
        <processor type="Sitecore.Commerce.UX.Merchandising.RegisterMerchandisingRoutes, Sitecore.Commerce.UX.MerchandisingManager"/>
      </initialize>

    </pipelines>

  </sitecore>
</configuration>