@import url("/sitecore/shell/client/Commerce/Layouts/Renderings/TagEditor/assets/jquery.tag-editor.css");




div[data-sc-id=SearchButtonTextBox] {
    line-height: 0px;
    top: 7px;
    width: 285px;
    float:right;
    margin-left:12px;
    margin-right:12px;
   
}

button[data-sc-id=Help] {
margin-top:-2px;
margin-right:16px;
}

ul[data-sc-id=AccountInformation] {
float:right;
}

button[data-sc-id=BackButton] {
    vertical-align:baseline;
        float: left;
}

div[data-sc-id=FindButtonTextBox],div[data-sc-id=SearchButtonTextBox] {
    width: 200px;
}

div[data-sc-id=FindBtnTextBox] {
    width: 150px;
    float: left;
}

div[data-sc-id=FilterByButton] {
float:left;
margin-right:5px;
}

span[data-sc-id=AppTitleText] {
color:whitesmoke;
}

div[data-sc-id=SearchButtonTextBox] {
    display: inline-flex;
     display:none;
    line-height: 0px;
    margin-right: 69px;
}

ul[data-sc-id=AccountInformation]{

display: inline-block;
}



div[data-sc-id=PricingBooksActionsBorder] ,div[data-sc-id=PromotionBooksActionsBorder]{
display:inline-block;
}

select[data-sc-id=StatusDropList] {
width:105px;
padding-top:7px;
}


.sc-applicationHeader-contextSwitcher {
        display: flex;
}

div.sc-applicationHeader-contextSwitcher select {
    width: 100px;
    float: left;
    clear: both;
}


.sc-expander {
    margin-top: 14px;
    margin-bottom: 14px;
     margin-left: 14px;
    margin-right: 14px;
    font-size:12px;
}

.snapshots_scroll {
clear: right;
    height: 613px;
    overflow-y: scroll;
    width: 99.9%;
    padding-right: 9px;
}

div[data-sc-id=SnapshotTagEditor] {
margin-top: 8px;
    margin-bottom: 18px;
}

div[data-sc-id=SnapshotTagEditor] ul.tag-editor {
padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 6px;
}

div[data-sc-id=FindBatchButton],div[data-sc-id=FindAssignmentsCouponsButton],div[data-sc-id=FindPublicCouponsButton], div[data-sc-id=FindPrivateCouponsButton], div[data-sc-id=FindCouponsButton] {
    width: 200px;
        margin-left: 12px;
}

div[data-sc-id=PublicCouponExpander]{
    margin-left: 15px;
    margin-right: 15px;}

span[data-sc-id=itemsLabel], span[data-sc-id=variantsLabel] {
        margin-top: 20px !important;
    display: block;
    margin-bottom: 9px !Important;

}

div[data-sc-id=ItemsDropList], select[data-sc-id=VariantsListBox] {
    margin-top: 10px !important;

}

div[data-sc-id=VariantsPanel] div > div.sc-spinner {
margin-top:110px 
}


div[data-sc-id=QualificationExpander] div.sc-expander-body {
overflow:visible;
}

#ActionsContainer {
    height: 46px;
    background-color: #474747;
    padding-top: 6px;
    padding-right: 7px;
    border-left: 5px solid #dc271e;
}


.snapshot_wrapper {
    padding: 0px;
    border: solid 1px #999;
    margin: 10px;
    padding-top: 4px;
    border-radius: 0px 0px 0px 0px;
    background-color:white;
        margin-right: 0px;
        padding-right:12px;
            padding-left: 11px;
    padding-bottom: 13px;
}

.snapshot_wrapper div.sc-tageditor{
        width: 100%;
    float: left;
    margin-right: 16px;
}

.snapshot_wrapper label {
        font-size: 12px;
    margin-left: 10px !important;
    color: #666;
    font-weight: normal;
}

.snapshot_selected {
    border: solid 2px #289bc8;
}

.snapshot_selected div.SnapshotRadioContainer label.sc-radiobutton  {
    font-weight:bold;
    font-size: 16px;
}

.snapshot_wrapper label.sc-radiobutton span.sc-radiobutton-label {
    font-size: 16px;
}

.snapshot_selected .SnapshotActionContainer {
    visibility: visible;
}

.SnapshotActionContainer {
    visibility: hidden;
}

.snapshot_selected label{
   
}

.SnapshotListContainer div.sc-listcontrol {
        clear: both
}

span[data-sc-id=SnapshotTitle] {
    font-size:18px !important;
}

div[data-sc-id=SnapshotLabel], div[data-sc-id=ExcludeTagsLabel], div[data-sc-id=TagsLabel] , div[data-sc-id=PricelineLabel], div[data-sc-id=PriceTableLabel]  {
font-size:16px !important;
margin-bottom:4px;
}

button[data-sc-id=DoneButton] {
float:right;
}

div[data-sc-id=CardNameLabel], div[data-sc-id=CardDescriptionLabel]  {
    font-size: 8px !important;
}

select[data-sc-id=VariantDropList] {
margin-right:16px;
}

.tagstring {
display:inline-block;
    margin-left: 15px;
    margin-right: 33px;

}

.tag-editor {
       font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    line-height: 24px;
}



div[data-sc-id=Details_expander], div[data-sc-id=PriceBookCatalogs_expander], div[data-sc-id=PriceBookCards_expander], div[data-sc-id=Items_expander], div[data-sc-id=Benefits_expander], , div[data-sc-id=Preview_expander], div[data-sc-id=Qualifications_expander] {
font-size:small;
}

div[data-sc-id=PriceBookCatalogs_expander] > div.sc-expander-body > div.sc-expander-bodywrapper > div > div.sc-listcontrol-content > div.sc-listcontrol-body-wrapper > table > tbody > tr > td, div[data-sc-id=PriceBookCards_expander]  > div.sc-expander-body > div.sc-expander-bodywrapper > div > div.sc-listcontrol-content > div.sc-listcontrol-body-wrapper > table > tbody > tr > td {
padding-left: 16px !important;
}

div[data-sc-id=Details_expander] > div.sc-expander-body > div.sc-expander-bodywrapper > div {
        height: 48px;
    padding-top: 16px;
}

div[data-sc-id=Preview_expander] > div.sc-expander-body > div.sc-expander-bodywrapper > div {
        height: 48px;
    padding-top: 16px;
}

.sidebar-label {
color:#666;
margin-right: 8px;
}

.sidebar-text {

}

.priceTiersInputError
{
 border:1px solid red;
}


div[data-sc-id=PriceTiersEditor] {
    padding: 12px;
    height: 310px;
    overflow: auto;
}

div[data-sc-id=PriceTiersEditor] > label{
    margin-right: 12px;
}

div[data-sc-id=PriceTiersEditor] > input{
    margin-left: 89px;
	}
	
div[data-sc-id=PriceTiersEditor] > div:nth-child(3){
	border-top: 1px solid #999;
    margin-top: 24px;
	}
	
div[data-sc-id=PriceTiersEditor] > div:nth-child(3) > label{
	margin-top: 14px;
    margin-bottom: 14px;
}

#PricingTiersTable > tbody:nth-child(1) > tr:nth-child(1) > th:nth-child(1), #PricingTiersTable > tbody:nth-child(1) > tr:nth-child(1) > th:nth-child(2){
color:#666;
}

#AddTierButton{
margin-top: 19px;
    height: 32px;
    width: 70px;
}

#PriceTierEditorErrorMessageLabel {
color:red;
margin-top:12px;
}

#PricingTiersTable td, #PricingTiersTable th {
        padding-right: 8px;
    padding-bottom: 8px;
}

.commerce-spinner {
width: 100%;
    background-color: rgba(255,255,255,.6);
    height: 100%;
    position: absolute;
    margin-top: 0px;
    z-index: 1000;
    margin-bottom: 0px;
    top: 0px;
    background-image: url(/sitecore/shell/client/Speak/Assets/img/Speak/ProgressIndicator/sc-spinner32.gif);
    background-repeat: no-repeat;
    background-position: center center;
}


select[data-sc-id=EnvironmentsSwitcher]{
    position: absolute;
    right: 105%;
    top: 7px;
    width: 200px;
}



#ActionsContainer div.sc-actionpanel {
        background: none;
        background-image: none;
            margin-top: -23px;
    margin-right: -6px;
    }

#ActionsContainer div.sc-actionpanel ul.nav > li > .btn-group button {
    max-width: 170px;
        box-shadow: none;
        margin-top:17px;
}
 


div.sc-actionpanel {
        background: none;
        background-image: none;
            margin-top: -14px;
    margin-right: -15px;
    }

div.sc-actionpanel .btn-default {
            background: none;
            background-image: none;
            border: none;
            border-radius: 0;
            height: 46px;
            color:white;
            
        }

div.sc-actionpanel ul.nav > li > .btn-group button {
    max-width: 170px;
        box-shadow: none;
    margin-top: 15px;
}

div.sc-actionpanel .btn-default:hover {
                background: #666;
                box-shadow: none;
            }

div.sc-actionpanel .btn-default:active {
                border: 0px;
                box-shadow: inset 0 0 6px #b0b0b0;
            }


div.sc-actionpanel ul.nav .sc-dropdownbutton-chevron {
    border-top: 8px solid #cccccc;
    border-bottom: 0 solid #474747;
    margin-top: 8px;
}

div.sc-actionpanel ul.nav .sc-dropdownbutton-chevron.up {
    border-top: 8px solid transparent;
    border-bottom: 8px solid #cccccc;
    margin-top: 0px;
}


div.sc-actionpanel .btn-default.mainButton {
    border: 0;
    margin-top: 15px;
    box-shadow: none;

}


div.SnapshotActionContainer div.sc-actionpanel {
        background: none;
        background-image: none;
            margin-top: -14px;
    margin-right: -12px;
    }

div.SnapshotActionContainer div.sc-actionpanel .btn-default {
            background: none;
            background-image: none;
            border: none;
            border-radius: 0;
            height: 46px;
            color:black;
        }

div.SnapshotActionContainer div.sc-actionpanel ul.nav > li > .btn-group button {
    max-width: 170px;
    margin-top:0px;
}

          div.SnapshotActionContainer div.sc-actionpanel .btn-default:hover {
                background: #e3e3e3;
                box-shadow: none;
            }

           div.SnapshotActionContainer div.sc-actionpanel .btn-default:active {
                border: 0px;
                box-shadow: inset 0 0 6px #b0b0b0;
            }

           
div.SnapshotActionContainer div.sc-actionpanel ul.nav .sc-dropdownbutton-chevron {
    border-top: 8px solid black;
    border-bottom: 0 solid #474747;
    margin-top: 0px;
}

div.SnapshotActionContainer div.sc-actionpanel ul.nav .sc-dropdownbutton-chevron.up {
    border-top: 8px solid transparent;
    border-bottom: 8px solid black;
    margin-top: -8px;
}

div.SnapshotActionContainer div.sc-actionpanel .btn-default.mainButton {
    border: 0;
    margin-top: 0px;
    box-shadow: none;
        background: #dedede;
}


div.SnapshotActionContainer div.SnapshotActionContainer div.sc-actionpanel {
        background: none;
        background-image: none;
            margin-top: -14px;
    margin-right: -12px;
    }


div[data-sc-id=DialogWindow] {
      
  
}

div[data-sc-id=CardBorder] {
    padding: 0px !important;
    border:0px !important;
}

.sc .sc-tab-control {
    overflow: visible;
}

div[data-sc-id=FormRoot] {
    min-height: 350px;
     max-height: 430px;
}

div[data-sc-id=GlobalActionsControl] {

}

div[data-sc-app=SnapshotsApp] {
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 14px;
}

div[data-sc-id=PricingCardTabControl] div.sc-tab-control-nav-wrap{    
    margin-left: 14px;
    margin-top: 8px;
}

div[data-sc-id=PricingCardTabControl] div.sc-tab-control-nav-wrap ul.sc-tab-control-nav{
        left: 0px !important;
}

div[data-sc-id=GeneralErrorMessage] {
    display: block;
    position: fixed;
    z-index: 10000;
    width: 100%;
    top: 250px;
}

div[data-sc-id=ErrorMessage] {
    display: block;
    position: fixed;
    z-index: 10000;
    width: 100%;
}

@media (min-width:500px) and (max-width: 1024px) {
div[data-sc-id=DialogWindow] {
     top: calc(5% + 0px) !important;
}

.sc-actionpanel .sc-foldout ul > li .sc-action-text {
    padding: 3px 7px 3px 22px;
}

.sc-actionpanel .sc-foldout ul {
    margin: 0;
    padding: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
}

}




@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  /* IE10+ specific styles go here */  
  .glyphicon-calendar::before {
  content: "\d83d\dcc5";
}
}

.sc-dialogWindow-maximize {
display:none;
}

div[data-sc-id=CurrencyRowDialogWindow] {
top:25%;
}


/*body {
overflow:hidden;
}*/

button[data-sc-id=CancelButton] {
    float: right;
    margin-left: 7px;
    margin-top: 7px;
}

button[data-sc-id=SelectButton] {
  float: right;
  margin-top: 7px;
}

div[data-sc-component=CommerceProductFieldRendering] input{
    width:85%;
    height:31px;
}

div[data-sc-component=CommerceProductFieldRendering] button{
    height:31px;
    width: 31px;
}

.sc-listcontrol .sc-associated-listpage {
display: none !important;
}

div[data-sc-id="PriceBookCatalogs_actionControl"] > ul > li > div > button{
    max-width:250px!important;
}

